<template>
  <div class="activity-container container w-1200">
    <heading text="Activity" />

    <div class="group__wrapper" v-if="activity.length > 0" >
      <template v-for="anime in activity" :key="anime.title">
        <keep-alive>
          <anime-activity-accordian :anime="anime" />
        </keep-alive>
      </template>
    </div>
    <div class="group__wrapper" v-else>
      <heading text="No activities taking place at this moment" :size="3" style="oblique" />
    </div>
  </div>
</template>

<script lang="ts">
import { RootState } from '@/shared/types/state';
import { computed, defineComponent, onMounted } from 'vue';
import { useStore } from 'vuex';

import AnimeActivityAccordian from '@/components/Anime/AnimeActivityAccordian.vue';
import Heading from '@/components/Layout/Heading.vue';

export default defineComponent({
  components: {
    Heading,
    AnimeActivityAccordian,
  },

  setup() {
    const store = useStore<RootState>();

    const activity = computed(() => store.getters.activityList);
    const details = computed(() => store.state.anime.activity.details);

    onMounted(() => {
      store.dispatch('getActivityProgress');
    });

    return { activity, details };
  },
});
</script>

<style lang="scss" scoped></style>
