<template>
  <div class="advanced-search-container container">
    <heading text="Advanced Search" />
    <div class="filter-wrap flex flex-justify-content-center">
      <div class="filter-container w-1200">
        <div class="input">
          <div class="name">Title</div>
          <input type="text" v-model="query.title" />
        </div>
        <ap-select
          name="Genres"
          @change-item="handlers.genre"
          :data="filterData.genre"
          :expand="selects.genre"
          :multiple="true"
          @update:expand="(value) => updateExpand('genre', value)"
        />
        <ap-select
          @change-item="handlers.status"
          name="Statuses"
          :data="filterData.status"
          :expand="selects.status"
          :multiple="true"
          @update:expand="(value) => updateExpand('status', value)"
        />
        <ap-select
          @change-item="handlers.studio"
          name="Studios"
          :data="filterData.studio"
          :expand="selects.studio"
          :multiple="true"
          @update:expand="(value) => updateExpand('studio', value)"
        />
        <ap-select
          @change-item="handlers.season"
          name="Seasons"
          :data="filterData.season"
          :expand="selects.season"
          :multiple="true"
          @update:expand="(value) => updateExpand('season', value)"
        />
        <ap-select
          @change-item="handlers.format"
          name="Formats"
          :data="filterData.format"
          :expand="selects.format"
          :multiple="true"
          @update:expand="(value) => updateExpand('format', value)"
        />
        <ap-select
          @change-item="handlers.seasonYear"
          name="Season Year"
          :data="filterData.seasonYear"
          :expand="selects.seasonYear"
          @update:expand="(value) => updateExpand('seasonYear', value)"
        />
      </div>
    </div>
    <div class="results-container grid--items">
      <template v-if="!search.loading && search.error === null && search.data !== null">
        <div class="result" v-for="item in search.data.data" :key="item.id">
          <anime-item :id="item.id" :title="item.title" :poster="item.poster" />
        </div>
      </template>
      <div
        class="result"
        v-else-if="search.loading"
        v-for="item in [...Array(15).keys()]"
        :key="item"
      >
        <anime-item-placeholder />
      </div>
    </div>
    <pagination
      v-if="search.data?.page"
      :current="search.data.page.current"
      :total="search.data.page.total"
      @change-page="handleChangePage"
    />
  </div>
</template>

<script lang="ts">
import {
  watch, ref, computed, defineComponent, onMounted, reactive, Ref,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute, useRouter } from 'vue-router';
import { AnimeFilterQuery, AnimeOrderByQuery, OrderByDirection } from '@/adapter/query';
import {
  format as transformFormat,
  season as transformSeason,
  status as transformStatus,
} from '@/shared/helpers/formatter';

import { RootState } from '@/shared/types/state';
import { Nullable } from '@/shared/types/generic';
import { SEARCH_TIMESPAN } from '@/shared/helpers/timespan';

import Heading from '@/components/Layout/Heading.vue';
import Select, { SelectItem } from '@/components/Layout/Select.vue';
import AnimeItemPlaceholder from '@/components/Anime/AnimeItemPlaceholder.vue';
import AnimeItem from '@/components/Anime/AnimeItem.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import { AnimeFormat, AnimeSeason, AnimeStatus } from '@/shared/types/anime';

export default defineComponent({
  name: 'advanced-search',

  components: {
    Heading,
    AnimeItem,
    AnimeItemPlaceholder,
    Pagination,
    'ap-select': Select,
  },

  setup() {
    const store = useStore<RootState>();
    const route = useRoute();
    const router = useRouter();

    const search = computed(() => store.state.anime.search);

    const [format, season, status, seasonYear, genre, studio] = [
      computed(
        () =>
          store.state.format.data?.map(
            (value): SelectItem => ({ id: value, name: transformFormat(value) }),
          ) || [],
      ),
      computed(
        () =>
          store.state.season.data?.map(
            (value): SelectItem => ({ id: value, name: transformSeason(value) }),
          ) || [],
      ),
      computed(
        () =>
          store.state.status.data?.map(
            (value): SelectItem => ({ id: value, name: transformStatus(value) }),
          ) || [],
      ),
      computed(
        () =>
          store.state.seasonYear.data?.map(
            (value): SelectItem => ({ id: value, name: value.toString() }),
          ) || [],
      ),
      computed(() => store.state.genre.data || []),
      computed(() => store.state.studio.data || []),
    ];

    const timeout: Ref<Nullable<number>> = ref(null);

    const filterData = reactive({
      format,
      genre,
      season,
      seasonYear,
      status,
      studio,
    });

    const query: Ref<AnimeFilterQuery> = ref({
      page: 1,
      elements: 20,
      sortBy: AnimeOrderByQuery.Relevance,
      direction: OrderByDirection.Descending,
    });

    const triggerSearch = () => store.dispatch('searchAnime', query.value);

    const handlers = {
      genre: (values: number[]) => {
        query.value.genreIDs = values.length > 0 ? values : undefined;
      },
      studio: (values: number[]) => {
        query.value.studioIDs = values.length > 0 ? values : undefined;
      },
      status: (values: AnimeStatus[]) => {
        query.value.statuses = values.length > 0 ? values : undefined;
      },
      season: (values: AnimeSeason[]) => {
        query.value.seasons = values.length > 0 ? values : undefined;
      },
      seasonYear: (value: number | undefined) => {
        query.value.seasonYear = value;
      },
      format: (values: AnimeFormat[]) => {
        query.value.formats = values.length > 0 ? values : undefined;
      },
    };

    const selects: Ref<Record<string, boolean>> = ref({
      genre: false,
      studio: false,
      status: false,
      season: false,
      format: false,
      seasonYear: false,
    });

    const updateExpand = (target: string, value: boolean) => {
      if (value) {
        Object.keys(selects.value)
          .filter((key) => selects.value[key] === true)
          .forEach((key) => {
            selects.value[key] = false;
          });
      }

      selects.value[target] = value;
    };

    const handleChangePage = (page: number) => {
      query.value.page = page;
    };

    onMounted(async () => {
      if (route.query?.title && typeof route.query?.title === 'string') {
        query.value.title = route.query?.title;
      }

      Object.keys(route.query)
        .filter((key) => Array.isArray(route.query[key]))
        .map((key) => ({
          key,
          value: (route.query[key] as [string]).map(Number),
        }))
        .forEach(({ key, value }) => {
          // FIXME(eemj): Small hack to bypass the type issue
          (query.value as unknown as Record<string, number[]>)[key] = value;
        });

      await triggerSearch();
    });

    watch(
      () => query.value,
      () => {
        if (timeout.value) {
          window.clearInterval(timeout.value);
        }

        timeout.value = window.setTimeout(async () => {
          await triggerSearch();
          router.replace({
            ...route,
            ...{
              query: {
                title: (query.value.title || '').length > 0 ? query.value.title : undefined,
                genreIDs: query.value.genreIDs,
                studioIDs: query.value.studioIDs,
                statuses: query.value.statuses,
                seasons: query.value.seasons,
                seasonYear: query.value.seasonYear,
                formats: query.value.formats,
                page: query.value.page,
                elements: query.value.elements,
              },
            },
          });
        }, SEARCH_TIMESPAN);
      },
      { deep: true },
    );

    return {
      query,
      search,
      selects,
      handlers,
      filterData,

      updateExpand,
      handleChangePage,
    };
  },
});
</script>

<style lang="scss" scoped>
div.filter-wrap {
  margin-bottom: 45px;
}

div.filter-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  align-items: flex-end;

  @media screen and (max-width: 1024px) {
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(180px, 100%/5)), 1fr));
  }

  div {
    min-width: calc(100% / 6);
  }

  div.input {
    div.name {
      color: var(--color-light-5);
      font-size: 1.1rem;
      font-weight: 600;
      padding: 10px 0;
      text-transform: capitalize;
    }

    input {
      line-height: 1px;
      width: calc(100% - 16px);
      margin: 0;
      border: 0;
      align-items: center;
      background: var(--color-dark-6);
      color: var(--color-light-6);
      padding: 0px 8px;
      text-transform: capitalize;
      font-size: 0.8rem;
      border-radius: 6px;
      box-shadow: 0 14px 30px
          rgba(var(--color-dark-3-r), var(--color-dark-3-g), var(--color-dark-3-b), 0.1),
        0 4px 4px rgba(var(--color-dark-3-r), var(--color-dark-3-g), var(--color-dark-3-b), 0.04);
      cursor: pointer;
      display: grid;
      font-weight: 600;
      grid-template-columns: auto 18px;
      height: 42px;

      &:focus {
        outline: 2px solid var(--color-dark-A);
      }
    }
  }
}
</style>
