<template>
  <div class="airing-container container">
    <heading text="Currently Airing" />
    <transition name="fade">
      <div class="airing__wrapper">
        <loader v-if="airing.loading" :centered="true" />
        <h4 v-else-if="airing.error">{{ airing.error }}</h4>
        <div
          class="items grid--items"
          v-else-if="
            !(airing.loading && airing.error) && airing.data && airing.page
          "
        >
          <div class="anime" v-for="anime in airing.data" :key="anime.id">
            <anime-item
              :title="anime.title"
              :poster="anime.poster"
              :id="anime.id"
            />
          </div>
        </div>
        <pagination
          v-if="airing.page"
          :current="airing.page.current"
          :total="airing.page.total"
          @change-page="handleChangePage"
        />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from 'vue';

import AnimeItem from '@/components/Anime/AnimeItem.vue';
import Loader from '@/components/Loader.vue';
import Heading from '@/components/Layout/Heading.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import { useStore } from 'vuex';
import { RootState } from '@/shared/types/state';
import { PageQuery } from '@/adapter/query';
import { DEFAULT_PAGE } from '@/adapter';
import { useDynamicElements } from '@/shared/helpers/pagination';

export default defineComponent({
  components: {
    AnimeItem,
    Loader,
    Heading,
    Pagination,
  },

  setup() {
    const store = useStore<RootState>();

    const airing = computed(() => store.state.anime.airing);
    const { elements } = useDynamicElements({
      elementWidth: 250,
      rows: 4,
    });

    const getAiring = async (query: PageQuery) =>
      store.dispatch('getAiring', query);

    const handleChangePage = (page: number) =>
      getAiring({ page, elements });

    onMounted(async () => {
      if (airing.value.page === null) {
        await getAiring({ page: DEFAULT_PAGE, elements });
      }
    });

    return {
      airing,

      handleChangePage,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.airing-container a {
  text-decoration: none;
}
</style>
