<template>
  <div class="anime__wrapper">
    <loader v-if="details.loading && !details.error" :centered="true" />
    <div
      class="anime-container"
      v-if="!(details.loading && details.error) && details.data"
    >
      <banner
        :id="details.data.id"
        :banner="details.data.banner"
        :disabled="preferences.details.loading || preferences.update.loading"
        :edit="true"
        :favourite="
          preferences.details.data && preferences.details.data.favourite
        "
        @click-favourite="handleFavouriteClick"
      />
      <div class="header">
        <div class="overlap-banner">
          <img
            class="poster"
            :src="details.data.poster.name"
            :alt="`${details.data.title} Poster`"
          />
        </div>
        <div class="summary">
          <h1 class="title">{{ details.data.title }}</h1>
          <h2 class="subtitle native" v-if="details.data.titleNative">
            {{ details.data.titleNative }}
          </h2>
          <p class="description" v-html="details.data.description" />
        </div>
        <info :divider="true" :anime="details.data" />
      </div>
      <div class="episodes__wrapper">
        <loader v-if="episodes.loading && !episodes.error" />
        <div
          class="episodes-container"
          v-if="!(episodes.loading && episodes.error) && episodes.data"
        >
          <div
            class="episode"
            v-for="episode in episodes.data"
            :key="episode.id"
          >
            <episode-item
              :episode="episode"
              @click-episode="handleEpisodeClick"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { RootState } from '@/shared/types/state';
import {
  computed, defineComponent, onMounted, watch,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute, useRouter } from 'vue-router';

import EpisodeItem from '@/components/Anime/EpisodeItem.vue';
import Info from '@/components/Anime/Info.vue';
import Banner from '@/components/Anime/Banner.vue';
import Loader from '@/components/Loader.vue';
import { UpdatePreferencesPayload } from '@/store/modules/anime/preferences';

export default defineComponent({
  components: {
    Info,
    Loader,
    Banner,
    EpisodeItem,
  },

  setup() {
    const store = useStore<RootState>();
    const route = useRoute();
    const router = useRouter();

    const details = computed(() => store.state.anime.details);

    const episodes = computed(() => store.state.anime.episodes);
    const preferences = computed(() => store.state.anime.preferences);

    const getDetails = async (id: number) => store.dispatch('getDetails', id);
    const getEpisodes = async (id: number) => store.dispatch('getEpisodes', id);
    const getPreferences = async (id: number) => store.dispatch('getPreferences', id);
    const updatePreferences = async (preference: UpdatePreferencesPayload) => store.dispatch('updatePreferences', preference);

    let id = Number(route.params?.id);

    if (Number.isNaN(id)) {
      router.push('/404');
      return {};
    }

    watch(
      () => details.value,
      (state) => {
        if (state.error) {
          router.push('/404');
        } else if (state.data?.title) {
          document.title = `Anime Pack | ${state.data.title}`;
        }
      },
      {
        deep: true,
        immediate: true,
      },
    );

    onMounted(async () => {
      if (details.value.data?.id !== id) {
        await Promise.all([
          getDetails(id),
          getEpisodes(id),
          getPreferences(id),
        ]);
      }
    });

    const handleFavouriteClick = async () => {
      if (preferences.value.details.data) {
        await updatePreferences({
          favourite: !preferences.value.details.data.favourite,
        });
      }
    };

    const handleEpisodeClick = (episode: string) => {
      if (details.value.data) {
        router.push(`/anime/${details.value.data.id}/episode/${episode}`);
      }
    };

    router.afterEach(async (to, from) => {
      if (to.params?.id !== from.params?.id) {
        id = Number(to.params?.id);
        if (!Number.isNaN(id)) {
          Promise.all([getDetails(id), getEpisodes(id), getPreferences(id)]);
        }
      }
    });

    return {
      details,
      episodes,
      preferences,

      handleFavouriteClick,
      handleEpisodeClick,
    };
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

div.anime-container {
  div.header {
    display: grid;
    padding: 0 100px;
    grid-column-gap: 30px;
    grid-template-columns: 220px auto 220px;

    @media only screen and (max-width: 950px) {
      grid-template-columns: auto;
    }

    div.summary {
      h1.title {
        margin-bottom: 0;
      }

      h2.subtitle {
        margin: 10px 0 0 0;
        font-weight: 600;
        font-style: italic;
        font-size: 16px;
      }
    }

    div.overlap-banner {
      margin-top: -75px;
      text-align: center;
      z-index: 1;
      position: relative;

      img.poster {
        max-width: 220px;
        outline: 0;
        border: 0;
        cursor: pointer;
        border-radius: 2px;
      }
    }
  }

  div.episodes__wrapper {
    margin: 25px;

    div.episodes-container {
      display: grid;
      grid-gap: 25px;
      justify-content: center;
      width: 100%;
      grid-template-columns: repeat(auto-fill, 285px);
    }
  }
}
</style>
