<template>
  <div class="episode-container container">
    <div class="anime-container" v-if="episode">
      <div class="video-container">
        <div class="video">
          <video
            v-if="video"
            :src="video.path"
            preload="auto"
            controls="true"
          ></video>
          <div class="video__selection flex flex-align-items-center">
            <div
              class="
                navigation
                flex flex-align-items-center flex-justify-content-center
              "
              v-if="previous"
            >
              <router-link
                :to="`/anime/${id}/episode/${previous.name}`"
                custom
                v-slot="{ navigate }"
              >
                <button
                  class="btn icon header"
                  @click="navigate"
                  aria-label="Previous"
                >
                  <chevron-left-icon />
                </button>
              </router-link>
            </div>

            <select
              class="flex-3"
              name="releaseGroup"
              v-model="releaseGroup"
              @change="quality = 0"
            >
              <option
                v-for="(releaseGroup, index) in releaseGroups"
                :value="index"
                :key="releaseGroup.id"
              >
                {{ releaseGroup.name }}
              </option>
            </select>

            <select name="qualities" v-model="quality" class="flex-1">
              <option
                v-for="(quality, index) in qualities"
                :value="index"
                :key="quality.id"
              >
                {{
                  quality.height || video?.quality?.height
                    ? `${quality.height ?? video?.quality?.height}p`
                    : "N/A"
                }}
              </option>
            </select>

            <div
              class="
                navigation
                flex flex-align-items-center flex-justify-content-center
              "
              v-if="next"
            >
              <router-link
                :to="`/anime/${id}/episode/${next.name}`"
                custom
                v-slot="{ navigate }"
              >
                <button class="btn icon header" @click="navigate">
                  <chevron-right-icon />
                </button>
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <div class="anime__summary flex">
        <div class="left">
          <router-link :to="`/anime/${details?.data?.id}`">
            <div class="poster" :style="{ backgroundImage }" />
          </router-link>
        </div>
        <div class="right flex flex-column flex-justify-content-center">
          <div class="row">
            <p class="title">
              <router-link :to="`/anime/${details?.data?.id}`">
                {{ details?.data?.title || "" }}
              </router-link>
              <span> - {{ episode.name }}</span>
            </p>
          </div>
          <div class="row">
            <p class="format">{{ format }}</p>
            <p class="status">{{ status }}</p>
          </div>
          <div class="row">
            {{ released }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed, defineComponent, onMounted, Ref, ref, watch,
} from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useStore } from 'vuex';

import { RootState } from '@/shared/types/state';
import { hasVideo } from '@/adapter/helpers';
import { format, status, release } from '@/shared/helpers/formatter';
import ChevronRightIcon from '@/components/Icons/ChevronRightIcon.vue';
import ChevronLeftIcon from '@/components/Icons/ChevronLeftIcon.vue';
import { AnimeEpisode, AnimeEpisodeReleaseGroup } from '@/shared/types/episode';

export default defineComponent({
  components: {
    ChevronRightIcon,
    ChevronLeftIcon,
  },

  setup() {
    const store = useStore<RootState>();
    const route = useRoute();
    const router = useRouter();

    const details = computed(() => store.state.anime.details);
    const episodes = computed(() => store.state.anime.episodes);

    const getDetails = (id: number) => store.dispatch('getDetails', id);
    const getEpisodes = (id: number) => store.dispatch('getEpisodes', id);

    let id = Number(route.params?.id);
    let episodeName = route.params?.episode.toString().trim();

    if (Number.isNaN(id) || episodeName === '') {
      router.push('/404');
      return {};
    }

    const index: Ref<number> = ref(0);

    const releaseGroup = ref(0);
    const quality = ref(0);

    const episode = computed(() =>
      (episodes.value.data?.length ? episodes.value.data[index.value] : null));

    // Only release gorups with a video and a thumbnail.
    const releaseGroups = computed(() =>
      episode.value?.releaseGroups?.filter((g: AnimeEpisodeReleaseGroup) =>
        g.qualities.find((q) => q.video && q.thumbnail)));

    const qualities = computed(() =>
      (releaseGroups.value
        ? releaseGroups.value[releaseGroup.value].qualities.filter(
          (q) => q.video && q.thumbnail,
        )
        : []));

    const video = computed(() => qualities.value[quality.value].video || null);

    const released = computed(() =>
      release(details.value.data?.season, details.value?.data?.year));

    const backgroundImage = computed(() =>
      (details.value.data ? `url('${details.value.data.poster.name}')` : ''));

    const refresh = () => {
      if (episodes.value.data) {
        index.value = episodes.value.data.findIndex(
          ({ name }) => name === episodeName,
        );
      }
    };

    const at = (position: number): AnimeEpisode | undefined =>
      (position >= 0
      && episodes.value.data
      && episodes.value.data.length > position
      && hasVideo(episodes.value.data[position])
        ? episodes.value.data[position]
        : undefined);

    const previous = computed(() => at(index.value - 1));
    const next = computed(() => at(index.value + 1));

    watch(
      () => details.value,
      async (state) => {
        if (state.error) {
          router.push('/404');
        } else if (state.data?.title) {
          document.title = `Anime Pack | ${state.data.title} Episode ${episodeName}`;
        }
      },
      {
        deep: true,
        immediate: true,
      },
    );

    watch(
      () => episodes.value,
      (state) => {
        if (state.error) {
          router.push('/404');
        } else if (state.data?.length) {
          refresh();

          if (episode.value && episode.value.releaseGroups.length > 0) {
            releaseGroup.value = 0;

            if (releaseGroups.value) {
              const qindex = releaseGroups.value[
                releaseGroup.value
              ].qualities.findIndex((q) => q.video && q.thumbnail);

              quality.value = qindex > -1 ? qindex : 0;
            }
          }
        }
      },
      { deep: true, immediate: true },
    );

    router.afterEach(async (to) => {
      if (to.params.id && to.params.episode) {
        id = Number(to.params.id);
        const newEpisode = to.params.episode.toString();

        if (id !== details.value.data?.id) {
          await Promise.allSettled([getDetails(id), getEpisodes(id)]);
        }

        if (newEpisode !== episodeName) {
          episodeName = newEpisode;
          refresh();

          if (details.value.data) {
            document.title = `Anime Pack | ${details.value.data?.title} Episode ${episodeName}`;
          }
        }
      }
    });

    onMounted(async () => {
      if (details.value.data?.id !== id) {
        await Promise.all([getDetails(id), getEpisodes(id)]);
      }
    });

    return {
      status: computed(() => status(details.value.data?.status)),
      format: computed(() => format(details.value.data?.format)),

      next,
      previous,

      episode,
      releaseGroup,
      quality,
      id,

      video,
      details,
      releaseGroups,
      qualities,

      released,
      backgroundImage,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.episode-container {
  max-width: 1200px;

  div.anime-container {
    div.video-container {
      div.video {
        video {
          width: 100%;
        }

        &__selection {
          border-radius: 5px;
          background: var(--color-dark-6);
          margin: 10px 0 15px 0;
          padding: 0 5px;

          div.navigation {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 30px;
            margin: 5px 0;

            button {
              margin: 0;
            }

            &:first-child {
              border-right: 1px solid var(--color-dark-9);
            }

            &:last-child {
              border-left: 1px solid var(--color-dark-9);
            }
          }

          select {
            border: none;

            &:not([name="releaseGroup"]) {
              border-left: 1px solid var(--color-dark-9);
            }

            min-height: 30px;
            color: var(--color-light-9);
            background-color: transparent;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            margin: 5px 10px 5px 5px;
            height: 25px;
            overflow: hidden;
            padding: 0 0 0 10px;
          }
        }
      }
    }

    div.anime__summary {
      $poster-dimensions: 80px;

      div.left {
        flex-basis: $poster-dimensions;

        div.poster {
          width: $poster-dimensions;
          height: $poster-dimensions;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0.25rem;
        }
      }

      div.right {
        height: $poster-dimensions;
        padding-left: 10px;

        a {
          text-decoration: none;
          font-weight: bold;
        }

        p {
          margin: 0;

          &.title {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
          }

          &.type,
          &.status {
            font-family: "Lato", sans-serif;
          }
        }
      }
    }
  }
}
</style>
