<template>
  <div class="episode-latest-container container">
    <heading text="Latest Episodes" />
    <loader v-if="episodes.loading || episodes.error !== null" />
    <div class="episode-latest-wrapper" v-else>
      <div class="episode" v-for="episode in episodes.data" :key="episode.id">
        <episode-latest-item
          :data="episode"
          @click-episode="handleEpisodeClick"
        />
      </div>
    </div>
    <pagination
      v-if="pages"
      :current="pages.current"
      :total="pages.total"
      @change-page="handleChangePage"
    />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { RootState } from '@/shared/types/state';
import { useDynamicElements } from '@/shared/helpers/pagination';

import Loader from '@/components/Loader.vue';
import EpisodeLatestItem, {
  ClickEpisodePayload,
} from '@/components/Anime/EpisodeLatestItem.vue';
import Heading from '@/components/Layout/Heading.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import { PageQuery } from '@/adapter/query';
import { DEFAULT_PAGE } from '@/adapter';

export default defineComponent({
  components: {
    Heading,
    Loader,
    EpisodeLatestItem,
    Pagination,
  },

  setup() {
    const store = useStore<RootState>();
    const router = useRouter();

    const episodes = computed(() => store.state.anime.episodeLatest);
    const pages = computed(() => store.state.anime.episodeLatest.page);
    const { elements } = useDynamicElements({
      rows: 6,
      elementWidth: 310,
    });

    const getEpisodesLatest = async (query: PageQuery) =>
      store.dispatch('getEpisodesLatest', query);

    const handleEpisodeClick = ({
      animeId,
      episodeName,
    }: ClickEpisodePayload) => {
      router.push(`/anime/${animeId}/episode/${episodeName}`);
    };

    const handleChangePage = async (page: number) => {
      await getEpisodesLatest({ page, elements });
    };

    onMounted(async () => {
      await getEpisodesLatest({
        elements,
        page: pages.value?.current ?? DEFAULT_PAGE,
      });
    });

    return {
      episodes,
      pages,

      handleEpisodeClick,
      handleChangePage,
    };
  },
});
</script>

<style lang="scss" scoped>
$dimension: 300px;

div.episode-latest-wrapper {
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, $dimension);
  display: grid;
  grid-gap: 25px 0px;
  margin-bottom: 25px;
}
</style>
