<template>
  <div class="favourite-container container">
    <heading text="Favourite" />
    <transition name="fade">
      <div class="favourite__wrapper">
        <loader v-if="favourite.loading" :centered="true" />
        <h4 v-else-if="favourite.error">{{ favourite.error }}</h4>
        <div
          class="items grid--items"
          v-else-if="
            !(favourite.loading && favourite.error) &&
            favourite.data &&
            favourite.page
          "
        >
          <div class="anime" v-for="anime in favourite.data" :key="anime.id">
            <anime-item
              :title="anime.title"
              :poster="anime.poster"
              :id="anime.id"
            />
          </div>
        </div>
        <pagination
          v-if="favourite.page"
          :current="favourite.page.current"
          :total="favourite.page.total"
          @change-page="handleChangePage"
        />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { RootState } from '@/shared/types/state';
import { computed, defineComponent, onMounted } from 'vue';
import { useStore } from 'vuex';

import AnimeItem from '@/components/Anime/AnimeItem.vue';
import Loader from '@/components/Loader.vue';
import Heading from '@/components/Layout/Heading.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import { PageQuery } from '@/adapter/query';
import { DEFAULT_PAGE } from '@/adapter';
import { useDynamicElements } from '@/shared/helpers/pagination';

export default defineComponent({
  components: {
    AnimeItem,
    Loader,
    Heading,
    Pagination,
  },

  setup() {
    const store = useStore<RootState>();

    const favourite = computed(() => store.state.anime.favourite);
    const { elements } = useDynamicElements({
      elementWidth: 250,
      rows: 4,
    });

    const getFavourite = async (query: PageQuery) =>
      store.dispatch('getFavourite', query);

    const handleChangePage = (page: number) =>
      getFavourite({ page, elements });

    onMounted(async () => {
      if (favourite.value.page === null) {
        await getFavourite({ page: DEFAULT_PAGE, elements });
      }
    });

    return {
      favourite,

      handleChangePage,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.favourite-container a {
  text-decoration: none;
}
</style>
