<template>
  <div>
    <div class="latest-container container">
      <heading text="Recently Added" />
      <transition name="fade">
        <div class="latest__wrapper">
          <loader v-if="latest.loading" :centered="true" />
          <h4 v-else-if="latest.error">{{ latest.error }}</h4>
          <div
            class="items grid--items"
            v-else-if="!(latest.loading && latest.error) && latest.data && latest.page"
          >
            <div class="anime" v-for="anime in latest.data" :key="anime.id">
              <anime-item
                :title="anime.title"
                :episode="anime.episode"
                :poster="anime.poster"
                :id="anime.id"
              />
            </div>
          </div>
          <pagination
            v-if="latest.page"
            :current="latest.page.current"
            :total="latest.page.total"
            @change-page="handleChangePage"
          />
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { RootState } from '@/shared/types/state';
import { computed, defineComponent, onMounted } from 'vue';
import { useStore } from 'vuex';

import AnimeItem from '@/components/Anime/AnimeItem.vue';
import Loader from '@/components/Loader.vue';
import Heading from '@/components/Layout/Heading.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import { AnimeLatestQuery } from '@/adapter/query';
import { DEFAULT_PAGE } from '@/adapter';
import { useDynamicElements } from '@/shared/helpers/pagination';

export default defineComponent({
  components: {
    AnimeItem,
    Loader,
    Heading,
    Pagination,
  },

  setup() {
    const store = useStore<RootState>();
    const { elements } = useDynamicElements({
      elementWidth: 250,
      rows: 4,
    });

    const latest = computed(() => store.state.anime.latest);

    const getLatest = async (query: AnimeLatestQuery) => store.dispatch('getLatest', query);

    const handleChangePage = (page: number) =>
      getLatest({
        page,
        elements,
      });

    onMounted(async () => {
      if (latest.value.page === null) {
        await getLatest({
          page: DEFAULT_PAGE,
          elements,

          // TODO(eemj): Ideally we should have a toggle button to
          // toggle this behaviour. Because there are times where
          // we just want to see the latest for the releasing items.
          // statuses: [AnimeStatus.RELEASING],
        });
      }
    });

    return {
      latest,
      handleChangePage,
    };
  },
});
</script>

<style lang="scss" scoped>
  div.latest-container div.items a {
    text-decoration: none;
  }
</style>
