<template>
  <div class="index-container container">
    <heading text="Index" />
    <div class="indexes-container">
      <div class="indexes__wrapper">
        <loader v-if="indexes.indexes.loading" />
        <ul
          class="indexes flex flex-wrap flex-justify-content-center"
          v-else-if="
            !(indexes.indexes.loading && indexes.indexes.error) &&
            indexes.indexes.data
          "
        >
          <router-link
            :to="`/anime/index/${encodeURIComponent(index)}`"
            v-for="index in indexes.indexes.data"
            :key="index"
          >
            <li :class="['index', { selected: current === index }]">
              {{ index }}
            </li>
          </router-link>
        </ul>
      </div>
    </div>

    <div
      class="anime-container grid--items"
      v-if="indexes.indexes.data && indexes.index.data[current] !== null"
    >
      <div
        class="anime"
        v-for="anime in indexes.index.data[current]"
        :key="anime.id"
      >
        <anime-item
          :title="anime.title"
          :episode="anime.episode"
          :poster="anime.poster"
          :id="anime.id"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed, defineComponent, onMounted, ref,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute, useRouter } from 'vue-router';

import { RootState } from '@/shared/types/state';

import Loader from '@/components/Loader.vue';
import Heading from '@/components/Layout/Heading.vue';
import AnimeItem from '@/components/Anime/AnimeItem.vue';

export default defineComponent({
  components: {
    Loader,
    Heading,
    AnimeItem,
  },

  setup() {
    const store = useStore<RootState>();
    const route = useRoute();
    const router = useRouter();

    const indexes = computed(() => store.state.anime.indexes);

    const getIndexes = async () => store.dispatch('getIndexes');
    const getIndex = async (index: string) => store.dispatch('getIndex', index);

    const current = ref(route.params.index.toString());

    router.afterEach((to) => {
      if (to.params.index && current.value !== to.params.index.toString()) {
        current.value = to.params.index.toString();
        getIndex(current.value);
      }
    });

    onMounted(() => {
      getIndexes();
      getIndex(current.value);
    });

    return {
      current,
      indexes,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.index-container {
  ul.indexes {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    a {
      text-decoration: none;
    }

    li {
      padding: 0.25rem 0.75rem;
      margin: 0.15rem;
      text-align: center;
      border-radius: 5px;
      user-select: none;

      &.selected {
        background: var(--color-primary-A100);
      }
    }
  }
}
</style>
