<template>
  <div class="jobs-container container w-1200">
    <heading text="Jobs" />
    <div class="jobs" v-if="!jobs.loading && jobs.error === null && jobs.data">
      <div class="job flex flex-row" v-for="job in newJobs" :key="job.id">
        <div
          class="left flex flex-justify-content-start flex-align-items-center"
        >
          <div :class="[ 'state', `state__${job.state.toLowerCase()}` ]">&nbsp;</div>
          <heading :size="3" :weight="600" :text="job.name" />
        </div>
        <div
          class="right flex flex-justify-content-end flex-align-items-center"
        >
          <div
            class="period flex flex-justify-content-end flex-align-items-center"
          >
            <p>{{ job.period }}</p>
            <refresh-icon />
          </div>
          <div
            class="time-taken flex flex-justify-content-end flex-align-items-center"
            v-if="job.timeTaken !== null"
          >
            <p>{{ job.timeTaken }}</p>
            <sand-clock-icon />
          </div>
          <div class="actions flex">
            <button
              @click="toggle(job)"
              class="btn square icon"
              v-if="job.state === 'PASSIVE'"
              title="Start"
              aria-label="Start"
            >
              <play-icon />
            </button>
            <button
              @click="toggle(job)"
              class="btn square icon"
              v-else-if="job.state === 'ACTIVE'"
              title="Stop"
              aria-label="Stop"
            >
              <stop-icon />
            </button>
            <button
              @click="disable(job)"
              v-if="job.state !== 'DISABLE'"
              class="btn square icon"
              title="Disable"
              aria-label="Disable"
            >
              <ban-icon />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Job, JobState } from '@/shared/types/jobs';
import { RootState } from '@/shared/types/state';
import { computed, defineComponent } from 'vue';
import { useStore } from 'vuex';
import { capitalize, goDuration } from '@/shared/helpers/formatter';
import dayjs from 'dayjs';
import dayjsDuration from 'dayjs/plugin/duration';
import dayjsRelativeTime from 'dayjs/plugin/relativeTime';

import Heading from '@/components/Layout/Heading.vue';
import RefreshIcon from '@/components/Icons/RefreshIcon.vue';
import PlayIcon from '@/components/Icons/PlayIcon.vue';
import StopIcon from '@/components/Icons/StopIcon.vue';
import BanIcon from '@/components/Icons/BanIcon.vue';
import SandClockIcon from '@/components/Icons/SandClockIcon.vue';
import { Nullable } from '@/shared/types/generic';

dayjs.extend(dayjsDuration);
dayjs.extend(dayjsRelativeTime);

const JOB_DAYJS_FORMAT = 'D MMM, YY HH:mm:ss.SSS';

export default defineComponent({
  components: {
    Heading,
    SandClockIcon,
    RefreshIcon,
    PlayIcon,
    StopIcon,
    BanIcon,
  },

  setup() {
    const store = useStore<RootState>();

    const jobs = computed(() => store.state.jobs);

    const timeTaken = ({ state, endedAt, startedAt }: Job): Nullable<string> => {
      if (
        (state === JobState.ACTIVE || state === JobState.DISABLE)
        && !(endedAt || startedAt)
      ) {
        return null;
      }

      return goDuration(
        dayjs(endedAt).diff(startedAt, 'milliseconds', true),
        ' ',
      );
    };

    const newJobs = computed(() =>
      (store.state.jobs.data || []).map((job) => ({
        state: job.state,
        id: job.id,
        name: job.name.split('_').map(capitalize).join(' '),
        startedAt: dayjs(job.startedAt)?.format(JOB_DAYJS_FORMAT) ?? '-',
        endedAt: dayjs(job.endedAt)?.format(JOB_DAYJS_FORMAT) ?? '-',
        timeTaken: timeTaken(job),
        period: goDuration(job.period / 1e6, ' '),
      })));

    const toggle = async (job: Job) => {
      if (job.state === JobState.PASSIVE || job.state === JobState.ACTIVE) {
        await store.dispatch(
          `${job.state === JobState.ACTIVE ? 'stop' : 'start'}JobId`,
          job.id,
        );
      }
    };

    const disable = async (job: Job) => {
      if (job.state !== JobState.DISABLE) {
        await store.dispatch('disableJobId', job.id);
      }
    };

    return {
      jobs,
      newJobs,

      toggle,
      disable,
    };
  },
});
</script>

<style lang="scss" scoped>
div.jobs {
  div.job {
    padding: 12px;
    background-color: var(--color-dark-5);
    border-radius: 5px;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0, -5px -5px 2px var(--color-dark-4);
    margin-bottom: 10px;

    .heading {
      margin: 0;
    }

    div.title {
      color: var(--color-light-6);
      margin-top: 10px;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    div.left div.state {
      border-radius: 100%;
      height: 14px;
      width: 14px;
      background-color: white;
      margin-right: 5px;

      &.state__active {
        background-color: var(--color-primary-A200);
      }

      &.state__disable {
        background-color: var(--color-primary-600);
      }

      &.state__passive {
        background-color: var(--color-primary-800);
      }
    }

    div.left,
    div.right {
      width: 100%;
    }

    div.period,
    div.time-taken {
      margin-left: 5px;

      p {
        margin-left: 5px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 0.9em;
        margin: 0;
      }

      svg {
        margin-left: 5px;
        height: 20px;
        width: 20px;
      }
    }

    div.right {
      button svg {
        padding: 2px;
      }
    }
  }
}
</style>
