<template>
  <div
    class="not-found-container flex flex-column flex-justify-content-center flex-align-items-center"
  >
    <h1 class="header">404</h1>
    <h2 class="subheader">Something's wrong!</h2>
    <h3 class="desc">
      The page you were seeking has been moved, removed, renamed or may not have existed!
    </h3>
    <button name="Go Back" class="btn icon" @click="back">
      <arrow-top-left-icon />
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

import ArrowTopLeftIcon from '@/components/Icons/ArrowTopLeftIcon.vue';

export default defineComponent({
  components: {
    ArrowTopLeftIcon,
  },

  setup() {
    const router = useRouter();

    return {
      back: () => router.go(-2),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.not-found-container {
  height: calc(100vh - #{$header-height});

  h1.header {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 120px;
  }

  h2.subheader {
    font-weight: 400;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
  }

  h3.desc {
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    max-width: 80%;
    text-align: center;
  }

  button {
    margin-top: 30px;
    height: 48px;
    width: 48px;
  }
}
</style>
