<template>
  <div class="runners-container container">
    <heading text="Runners" />

    <div class="runners__wrapper">
      <runner-item
        :data="item"
        v-for="item in runners.data"
        :key="item.ident"
        @click-toggle="handleToggleClick(item.ident)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { RootState } from '@/shared/types/state';
import { computed, defineComponent } from 'vue';
import { useStore } from 'vuex';

import Heading from '@/components/Layout/Heading.vue';
import RunnerItem from '@/components/Runner/RunnerItem.vue';

export default defineComponent({
  components: {
    Heading,
    RunnerItem,
  },

  setup() {
    const store = useStore<RootState>();

    const runners = computed(() => store.state.runner.runners);

    const handleToggleClick = (ident: string) =>
      store.dispatch('toggleRunner', ident);

    return {
      runners,

      handleToggleClick,
    };
  },
});
</script>

<style lang="scss" scoped>
div.runners-container {
  margin: 25px;

  div.runners__wrapper {
    display: grid;
    grid-gap: 25px;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
</style>
