<template>
  <div>
    <div class="simulcast-container container">
      <heading text="Simulcast" />
      <transition name="fade">
        <div class="simulcast__wrapper">
          <div class="anime-container">
            <div
              class="anime__wrapper card__grid--items"
              v-if="simulcasts.loading"
            >
              <div
                class="anime"
                v-for="item in [...Array(15).keys()]"
                :key="item"
              >
                <anime-card-item-placeholder />
              </div>
            </div>
            <div
              class="anime__wrapper card__grid--items"
              v-else-if="simulcasts.data?.length"
            >
              <div class="anime" v-for="anime in animes" :key="anime.id">
                <anime-card-item
                  :description="anime.description"
                  :colour="anime.colour"
                  :genres="anime.genres"
                  :humanRemaining="anime.duration"
                  :poster="anime.poster"
                  :title="anime.title"
                  :id="anime.id"
                />
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  onUnmounted,
  ref,
  Ref,
} from 'vue';
import { useStore } from 'vuex';

import AnimeCardItemPlaceholder from '@/components/Anime/AnimeCardItemPlaceholder.vue';
import AnimeCardItem from '@/components/Anime/AnimeCardItem.vue';
import Heading from '@/components/Layout/Heading.vue';
import { RootState } from '@/shared/types/state';
import { ExtendedAnimeSimulcast } from '@/shared/types/anime';
import { humanDuration } from '@/shared/helpers/formatter';

const INTERVAL = 1000 * 15;

const waitFor = (timeout: number): Promise<void> =>
  new Promise((resolve) => {
    window.setTimeout(resolve, timeout);
  });

export default defineComponent({
  components: {
    AnimeCardItem,
    AnimeCardItemPlaceholder,
    Heading,
  },

  setup() {
    const store = useStore<RootState>();
    const simulcasts = computed(() => store.state.anime.simulcast);
    const animes: Ref<ExtendedAnimeSimulcast[]> = ref([]);

    let interval: number | undefined;

    const groupUp = () => {
      if (!simulcasts.value.data?.length) {
        return;
      }

      animes.value = simulcasts.value.data
        .map((simulcast): ExtendedAnimeSimulcast => {
          const rawNextAiringDate = simulcast.nextAiringDate;
          const nextAiringDate = new Date(rawNextAiringDate);

          if (nextAiringDate <= new Date()) {
            nextAiringDate.setDate(nextAiringDate.getDate() + 7); // Add 7 days
          }

          const { elapsedMs, duration } = humanDuration(nextAiringDate);

          return {
            ...simulcast,
            elapsedMs,
            duration,
            nextAiringDate,
          };
        })
        .sort((a, b) => a.elapsedMs - b.elapsedMs);
    };

    onMounted(async () => {
      await store.dispatch('getSimulcast').then(() => {
        groupUp();
      });

      await waitFor(INTERVAL - (Date.now() % INTERVAL));

      interval = window.setInterval(() => groupUp(), INTERVAL);
    });

    onUnmounted(() => {
      if (interval) {
        window.clearInterval(interval);
        interval = undefined;
      }
    });

    return {
      animes,
      simulcasts,
    };
  },
});
</script>

<style lang="scss" scoped>
div.card__grid--items {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(525px, 1fr));
}

div.simulcast-container div.items a {
  text-decoration: none;
}

div.anime {
  p.duration {
    text-align: center;
    width: 180px;
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;
  }
}
</style>
