<template>
  <div class="titles-container container">
    <heading text="Review Titles" />
    <transition name="fade">
      <loader v-if="titles.loading" />
      <h4 v-else-if="titles.error">{{ titles.error }}</h4>
      <div
        class="items"
        v-else-if="!(titles.loading && titles.error) && titles.data && titles.page"
      >
        <div class="title__wrapper" v-for="title in titles.data" :key="title.id">
          <div class="title__header flex flex-row flex-align-items-center">
            <chevron-down
              @click="handlePreviewFilenames(title)"
              :class="[
                'expand',
                (reviewSelection.get(title.id)?.previewFilenames ?? false) && 'expanded',
              ]"
            />

            <heading class="flex-1" :weight="700" :size="3" :text="title.name">
              <span class="season-number" v-if="title.seasonNumber">S{{ title.seasonNumber }}</span>
              <span class="year" v-if="title.year">({{ title.year }})</span>
            </heading>

            <div class="title__header-actions flex flex-1 flex-justify-content-end">
              <input
                type="text"
                name="Add"
                :value="reviewSelection.get(title.id)?.providerId ?? ''"
                @change="handleProviderValueChange(title, $event)"
              />

              <div class="button-group provider-choice">
                <button
                  :class="[
                    'btn icon',
                    {
                      chosen:
                        reviewSelection.get(title.id)?.provider === undefined ||
                        reviewSelection.get(title.id)?.provider === AnimeProvider.ANILIST,
                    },
                  ]"
                  @click="handleProviderClick(title, AnimeProvider.ANILIST)"
                >
                  <img class="icon" src="@/assets/images/AniListIcon.jpg" alt="AniList" />
                </button>
                <button
                  :class="[
                    'btn icon',
                    {
                      chosen: reviewSelection.get(title.id)?.provider === AnimeProvider.MYANIMELIST,
                    },
                  ]"
                  @click="handleProviderClick(title, AnimeProvider.MYANIMELIST)"
                >
                  <img class="icon" src="@/assets/images/MyAnimeListIcon.jpg" alt="MyAnimeList" />
                </button>
              </div>

              <button class="btn icon" :disabled="disableActions" @click="handleAdd(title)">
                <math-plus-icon />
              </button>

              <button
                class="btn icon"
                name="Delete"
                :disabled="disableActions"
                @click="handleDelete(title.id)"
              >
                <trash-empty-icon />
              </button>

            </div>
          </div>
          <transition name="accordian-extend">
            <title-filename-list
              v-if="reviewSelection.get(title.id)?.previewFilenames"
              :filenames="title.filenames"
            />
          </transition>
          <div class="anime-container flex flex-column">
            <div class="anime" v-for="anime in title.anime" :key="anime.id">
              <anime-list-item
                :id="anime.id"
                :poster="anime.poster"
                :year="anime.year"
                :title="anime.title"
                :title-native="anime.titleNative"
                :title-romaji="anime.titleRomaji"
                :title-english="anime.titleEnglish"
                :description="anime.description"
                :actions="true"
                :related="title.id"
                :disabled="disableActions"
                @handleCheck="handleCheck"
              />
            </div>
          </div>
        </div>

        <pagination
          :current="titles.page.current"
          :total="titles.page.total"
          @change-page="handlePage"
        />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import {
  Ref, computed, defineComponent, ref,
} from 'vue';
import { useStore } from 'vuex';
import { RootState } from '@/shared/types/state';
import { TitleAddAnimePayload, TitleUpdatePayload } from '@/shared/types/state/title';
import { Title, TitleReview } from '@/shared/types/title';
import { AnimeProvider } from '@/shared/types/anime';

import Loader from '@/components/Loader.vue';
import Heading from '@/components/Layout/Heading.vue';
import Pagination from '@/components/Layout/Pagination.vue';
import AnimeListItem, { AnimeListItemHandleCheck } from '@/components/Anime/AnimeListItem.vue';
import TitleFilenameList from '@/components/Anime/TitleFilenameList.vue';
import ChevronDown from '@/components/Icons/ChevronDown.vue';

import TrashEmptyIcon from '@/components/Icons/TrashEmptyIcon.vue';
import MathPlusIcon from '@/components/Icons/MathPlusIcon.vue';
import { ThirdPartyQuery } from '@/adapter/query';

export default defineComponent({
  components: {
    Loader,
    Heading,
    Pagination,
    AnimeListItem,
    TrashEmptyIcon,
    MathPlusIcon,
    TitleFilenameList,
    ChevronDown,
  },

  setup() {
    const store = useStore<RootState>();

    const getTitles = async (page: number) => store.dispatch('getTitles', page);
    const updateTitle = async (payload: TitleUpdatePayload) =>
      store.dispatch('updateTitle', payload);
    const deleteTitle = async (id: number) => store.dispatch('deleteTitle', id);

    const addTitleAnime = (payload: TitleAddAnimePayload) =>
      store.dispatch('addTitleAnime', payload);

    const getQuery = async (body: ThirdPartyQuery) => store.dispatch('getQuery', body);

    const query = computed(() => store.state.anime.query);
    const titles = computed(() => store.state.title.details);

    const disableActions = computed(
      () => store.state.title.delete.loading || store.state.title.update.loading,
    );

    const handlePage = (page: number) => getTitles(page);
    const handleDelete = (id: number) => deleteTitle(id);
    const handleCheck = async (payload: AnimeListItemHandleCheck) => {
      if (payload.related) {
        await updateTitle({
          id: payload.related,
          body: {
            reviewed: true,
            idAniList: payload.id,
          },
        });
      }
    };

    const reviewSelection: Ref<Map<TitleReview['id'], TitleReview>> = ref(new Map());

    const handleProviderValueChange = (title: Title, event: Event) => {
      const selection = reviewSelection.value.get(title.id);
      const providerId = Number((event.target as HTMLInputElement).value);
      if (selection) {
        selection.providerId = providerId;
        selection.provider = selection.provider || AnimeProvider.ANILIST;
      } else {
        reviewSelection.value.set(title.id, {
          ...title,
          provider: AnimeProvider.ANILIST,
          providerId,
          previewFilenames: false,
        });
      }
    };

    const handlePreviewFilenames = (title: Title) => {
      const selection = reviewSelection.value.get(title.id);
      if (selection) {
        selection.previewFilenames = !selection.previewFilenames;
      } else {
        reviewSelection.value.set(title.id, {
          ...title,
          previewFilenames: true,
        });
      }
    };

    const handleProviderClick = (title: Title, provider: AnimeProvider) => {
      const selection = reviewSelection.value.get(title.id);
      if (!selection) {
        reviewSelection.value.set(title.id, {
          ...title,
          provider,
          previewFilenames: false,
        });
      } else {
        selection.provider = provider;
      }
    };

    const handleAdd = async (title: Title) => {
      const selection = reviewSelection.value.get(title.id);

      // We don't even have a selection for this anime.
      if (!selection || !selection.providerId) {
        return;
      }

      const request: ThirdPartyQuery = {
        idAniList:
            selection.provider === AnimeProvider.ANILIST ? selection.providerId : undefined,
        idMAL:
            selection.provider === AnimeProvider.MYANIMELIST ? selection.providerId : undefined,
      };

      await getQuery(request);

      if (
        query.value?.data
          && (query.value.data.id === selection.providerId
            || query.value?.data?.idMAL === selection.providerId)
      ) {
        await addTitleAnime({
          id: title.id,
          anime: query.value.data,
        });
      }
    };

    return {
      getTitles,
      titles,
      disableActions,
      reviewSelection,

      handlePage,
      handleDelete,
      handleCheck,
      handleAdd,
      handleProviderClick,
      handleProviderValueChange,
      handlePreviewFilenames,

      AnimeProvider,
    };
  },
});
</script>

<style lang="scss" scoped>
  @import '@/assets/scss/variables.scss';

  @mixin color-and-shadow {
    background-color: var(--color-dark-6);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  div.titles-container {
    div.anime-container {
      display: grid;
      margin: 0 15px;
      grid-column-gap: 15px;

      @media only screen and (max-width: 400px) {
        grid-template-columns: 1fr;
      }

      @media only screen and (min-width: 801px) and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (min-width: 1601px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    div.anime {
      margin-top: 10px;
      padding-top: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--color-dark-5);
    }

    div.title {
      &__wrapper {
        margin-bottom: 10px;
      }

      &__header {
        @include color-and-shadow();
        padding: 8px;
        margin: 0 10px;
        border-radius: 5px;

        svg.expand {
          cursor: pointer;
          transition: ease 0.2s transform;
          margin-right: 5px;
          height: 20px;
          width: 20px;

          &.expanded {
            transform: rotate(180deg);
          }
        }

        & > h3 {
          margin: 0;
        }

        span.season-number {
          background-color: var(--color-dark-9);
          box-shadow: 0 1px 2px 0
            rgba(var(--color-dark-6-r), var(--color-dark-6-g), var(--color-dark-6-b), 0.1);
          padding: 2px 4px;
          border-radius: 10px;
          color: var(--color-light-5);
        }

        span.year {
          color: var(--color-light-5);
        }

        &-actions {
          input {
            margin: 0 5px 0 0;
            padding: 0;
            background-color: var(--color-dark-4);
            color: var(--color-light-9);
            border: 1px solid vaR(--color-dark-6);
            border: none;
            font-size: 12px;
            text-align: center;
            border-radius: 5px;

            height: 24px;
            width: 60px;

            &:focus {
              border-color: var(--color-light-100);
            }
          }

          button.btn {
            margin-left: 0;
            box-shadow: none;
            background-color: var(--color-dark-7);
          }

          svg {
            height: 16px;
            width: 16px;
          }

          div.provider-choice {
            margin-right: 5px;

            button > img.icon {
              margin: 0;
              height: 18px;
              width: 18px;
            }

            button {
              &.chosen {
                background-color: var(--color-primary-A100);
                border-radius: 5px;
              }
              &:not(.chosen) {
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
</style>
