<template>
  <header :class="['flex', { 'no-border': scroll.y.value > 0 }]">
    <div class="left flex flex-1 flex-align-items-center">
      <router-link
        :to="{
          path: '/',
          query: { page: '1' },
        }"
        class="flex"
      >
        <logo />
      </router-link>
      <div class="actions flex">
        <router-link
          custom
          to="/activity"
          v-slot="{ navigate }"
          v-if="buttons.activity"
        >
          <button
            class="btn icon header activity"
            name="activity"
            aria-label="Activity"
            @click="navigate"
            title="Activity"
          >
            <activity-icon />
            <activity-icon class="front" />
          </button>
        </router-link>
        <router-link custom to="/anime/index/A" v-slot="{ navigate }">
          <button
            title="Index"
            class="btn icon header"
            name="index"
            @click="navigate"
            aria-label="Index"
          >
            <menu-icon />
          </button>
        </router-link>
        <router-link custom to="/simulcast" v-slot="{ navigate }">
          <button
            title="Simulcast"
            class="btn icon header"
            name="simulcast"
            @click="navigate"
            aria-label="Simulcast"
          >
            <calendar-icon />
          </button>
        </router-link>
        <router-link custom to="/anime/airing" v-slot="{ navigate }">
          <button
            class="btn icon header"
            name="airing"
            @click="navigate"
            aria-label="Airing"
            title="Airing"
          >
            <time-icon />
          </button>
        </router-link>
        <router-link
          custom
          to="/anime/favourite"
          v-slot="{ navigate }"
          v-if="buttons.favourite"
        >
          <button
            class="btn icon header"
            name="favourite"
            @click="navigate"
            aria-label="Favourite"
            title="Favourite"
          >
            <hollow-heart-icon />
          </button>
        </router-link>
        <router-link custom to="/latest/episode" v-slot="{ navigate }">
          <button
            class="btn icon header"
            name="latest-episode"
            @click="navigate"
            aria-label="Latest Episode"
            title="Latest Episode"
          >
            <film-icon />
          </button>
        </router-link>
        <router-link
          custom
          to="/titles"
          v-slot="{ navigate }"
          v-if="buttons.titles"
        >
          <button
            class="btn icon header"
            name="titles"
            @click="navigate"
            aria-label="Titles"
            title="Titles"
          >
            <edit-icon />
          </button>
        </router-link>
        <router-link
          custom
          to="/jobs"
          v-slot="{ navigate }"
        >
          <button
            class="btn icon header"
            name="jobs"
            @click="navigate"
            aria-label="Jobs"
            title="Jobs"
          >
            <scheduled-task-icon />
          </button>
        </router-link>
      </div>
    </div>
    <div class="right flex flex-1 flex-justify-content-end">
      <div
        class="actions flex flex-justify-content-end flex-align-items-center"
      >
        <button
          class="btn icon header alert"
          disabled
          v-if="!websocket"
          aria-label="Disconnected"
          title="Disconnected"
        >
          <ethernet-icon class="bounce alert" />
        </button>
        <search-wrapper v-if="!hideSearch" />
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import {
  computed, defineComponent, reactive, ref,
} from 'vue';
import { useStore } from 'vuex';

import { RouteName } from '@/router';
import { RootState } from '@/shared/types/state';
import useScroll from '@/shared/hooks/useScroll';

import Logo from '@/components/Header/Logo.vue';
import ActivityIcon from '@/components/Icons/ActivityIcon.vue';
import EditIcon from '@/components/Icons/EditIcon.vue';
import EthernetIcon from '@/components/Icons/EthernetIcon.vue';
import HollowHeartIcon from '@/components/Icons/HollowHeartIcon.vue';
import MenuIcon from '@/components/Icons/MenuIcon.vue';
import SearchWrapper from '@/components/Header/Search/SearchWrapper.vue';
import TimeIcon from '@/components/Icons/TimeIcon.vue';
import FilmIcon from '@/components/Icons/FilmIcon.vue';
import CalendarIcon from '@/components/Icons/CalendarIcon.vue';
import ScheduledTaskIcon from '@/components/Icons/ScheduledTaskIcon.vue';

export default defineComponent({
  components: {
    Logo,
    ActivityIcon,
    EditIcon,
    EthernetIcon,
    HollowHeartIcon,
    MenuIcon,
    SearchWrapper,
    TimeIcon,
    FilmIcon,
    CalendarIcon,
    ScheduledTaskIcon,
  },

  setup() {
    const store = useStore<RootState>();
    const scroll = useScroll();

    const websocket = computed(() => store.state.health.websocket);
    const irc = computed(() => store.state.health.irc);

    const hideSearch = computed(
      () => store.state.route.name === RouteName.ADVANCED_SEARCH,
    );
    const titles = computed(() => store.state.title.details.data?.length || 0);
    const activity = computed(
      () => Object.keys(store.state.anime.activity.tree).length,
    );
    const favourite = ref(true);

    const buttons = reactive({
      titles,
      favourite,
      activity,
    });

    return {
      hideSearch,
      scroll,
      websocket,
      irc,
      buttons,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--color-dark-3);
  box-shadow: 0 1px 2px 0
    rgba(
      var(--color-dark-1-r),
      var(--color-dark-1-g),
      var(--color-dark-1-b),
      0.25
    );
  user-select: none;
  border-top: $header-border-height solid var(--color-primary-100);
  font-size: 14px;
  z-index: 6;
  transition: border-top 0.5s ease-out;
  align-items: center;

  &.no-border {
    background-clip: padding-box;
    border-top-color: rgba(
      var(--color-dark-3-r),
      var(--color-dark-3-g),
      var(--color-dark-3-b),
      0.8
    );
    background-color: rgba(
      var(--color-dark-3-r),
      var(--color-dark-3-g),
      var(--color-dark-3-b),
      0.8
    );
  }

  div.actions {
    margin-right: 10px;

    svg.bounce {
      animation: bounce 1s linear infinite;
      color: var(--color-primary-A100);
      cursor: default;
    }

    button {
      margin-right: 2px;

      &.activity {
        position: relative;

        svg {
          position: absolute;

          &.front {
            stroke: var(--color-primary-100);
            stroke-dasharray: 6, 24;
            stroke-dashoffset: 50;
            animation: dash 1s linear infinite;
          }
        }
      }
    }
  }
}
</style>
