<template>
  <div class="logo flex">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="35 393 30 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st0"
        d="M55.9,431.8c-3.2,0-5.7-2.2-5.7-5.4c0-4.9,5.5-5.8,10.4-5.8v-3.1c0-2.2-0.4-3.6-2.6-3.6
                  c-1.8,0-2.9,1.3-2.9,3c0,0.5,0.1,1,0.3,1.5c-0.4,0.3-1,0.4-1.5,0.4c-1.7,0-2.8-0.8-2.8-2.5c0-2.3,2.6-4.3,7-4.3
                  c4.2,0,6.4,2,6.4,5.7v10.4c0,1,0.3,1.9,1.1,2.4c-0.4,0.8-1.2,1.1-2.1,1.1c-1.4,0-2.3-0.8-2.5-2C59.6,431.2,57.8,431.8,55.9,431.8z
                   M60.6,425.2v-2.8c-3.1,0-6.1,0.8-6.1,3.9c0,1.9,1.1,3.2,3,3.2C59.7,429.4,60.6,427.4,60.6,425.2z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="65 393 17 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st0"
        d="M69.8,412.7l0.2,3.2c0.9-2.3,2.9-3.5,5.4-3.5c4.2,0,5.4,2.5,5.4,6.8v9.4c0,1,0.3,1.9,1.1,2.4
                  c-0.4,0.8-1.4,1.1-2.3,1.1c-1.9,0-2.8-1.2-2.8-3v-9.3c0-2.5-0.2-4.5-2.7-4.5c-3.2,0-3.7,3.7-3.7,6.9v9.4h-4v-18.5L69.8,412.7z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="81 393 8 55"
    >
      <path
        class="st0"
        d="M87.7,430.8c-0.4,0.8-1.4,1.1-2.3,1.1c-1.9,0-2.8-1.2-2.8-3V413h4v15.4
                  C86.6,429.4,86.8,430.3,87.7,430.8z"
      />
      <path
        class="st1"
        d="M88.5,408.6c0,2.6-1.7,3.8-3.8,3.8c-2.1,0-3.7-1.3-3.7-3.7c0-2.6,1.7-3.8,3.8-3.8
                  C86.9,404.9,88.5,406.2,88.5,408.6z"
      />
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="89 393 25 55"
    >
      <path
        class="st1"
        d="M88.5,411.7c0.4,0.1,0.9,0.1,1.3,0.2c2.1,0.1,3.6-0.4,3.7-2.2c0.1-1.2-0.4-2.4-1.8-2.5
                  C89.4,407,88.7,409.6,88.5,411.7z"
      />
      <!-- eslint-disable max-len -->
      <path
        class="st0"
        d="M91.8,413l0.2,3.2c0.9-2.3,2.9-3.5,5.4-3.5c2.9,0,4.4,1.2,5,3.3c0.9-2.2,2.7-3.3,5.1-3.3
                  c4.2,0,5.4,2.5,5.4,6.8v9.4c0,1,0.3,1.9,1.1,2.4c-0.4,0.8-1.4,1.1-2.3,1.1c-1.9,0-2.8-1.2-2.8-3v-9.3c0-2.5-0.2-4.5-2.7-4.5
                  c-3.1,0-3.5,3.9-3.5,6.9v9.4h-4V420c0-2.5-0.2-4.5-2.7-4.5c-3.2,0-3.7,3.7-3.7,6.9v9.4h-4v-18.3L91.8,413z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="114 393 14 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st0"
        d="M119.6,412.4c2.6-0.3,5.8,0.5,6.1,3.1c0.1,0.9-0.1,1.5-0.9,1.8c-0.8-1.8-2.3-2.6-4.3-2.4
                  c-2.3,0.3-3.6,1.3-3.4,3.1c0.3,2.6,2.7,3.4,5.3,3.2l0.2,1.8c-0.6,0-1.3,0-1.9,0.1c-2.2,0.4-3.7,1.5-3.4,3.8c0.3,2.3,1.9,3.3,4.7,3
                  c2.2-0.3,3.9-1.2,4.6-3.2c0.6,0.2,0.8,0.8,0.9,1.4c0.3,2.8-2.4,4.2-5.2,4.5c-4.7,0.6-8.2-1.5-8.6-5.2c-0.3-2.5,1.3-4.4,3.8-5.2
                  c-2.1-0.7-3.6-2.3-3.9-4.4C113.1,414.6,115.8,412.8,119.6,412.4z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="126 394 19 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st1"
        d="M134.9,438.1c0.1,0.2,0.2,0.4,0.2,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.5,0.3-0.8,0.5
                  c-0.6,0.2-1.2,0.3-1.7,0.3s-1,0-1.3-0.1c-0.4-0.1-0.7-0.2-0.9-0.4c-0.4-0.4-0.7-1.1-0.7-2.1v-19c0-1-0.2-1.6-0.5-1.8
                  c-0.1-0.1-0.3-0.1-0.5-0.1s-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0-0.1,0-0.2,0s-0.1-0.1-0.2-0.2c-0.1-0.2-0.2-0.4-0.2-0.5
                  c0-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.3-0.4,0.6-0.7c0.3-0.3,0.6-0.5,0.9-0.7c0.8-0.5,1.5-0.7,2.3-0.7c0.9,0,1.4,0.8,1.6,2.3
                  c1.5-1.5,3.1-2.3,4.8-2.3c1.9,0,3.5,0.7,4.7,2.2c1.3,1.6,2,3.7,2,6.5c0,2.1-0.4,3.9-1.3,5.6c-0.8,1.5-1.9,2.7-3.2,3.5
                  c-1.3,0.8-2.7,1.2-4.2,1.2c-0.8,0-1.7-0.1-2.7-0.4v2.1c0,1.7,0.1,2.7,0.3,3.1s0.4,0.6,0.5,0.7c0.2,0.1,0.4,0.1,0.6,0.1
                  C134.1,438.2,134.5,438.2,134.9,438.1z M132.5,418.3v10.6c0.9,0.8,2,1.2,3.2,1.2c1.5,0,2.7-0.6,3.6-1.8c1-1.3,1.5-3,1.5-5.1
                  c0-2.3-0.4-4-1.3-5.2c-0.8-1.1-1.8-1.6-3.2-1.6S133.6,417.1,132.5,418.3z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="145 394 15 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st1"
        d="M150.5,432.9c-3.2,0-5.7-2.2-5.7-5.4c0-4.9,5.5-5.8,10.4-5.8v-3.1c0-2.2-0.4-3.6-2.6-3.6
          c-1.8,0-2.9,1.3-2.9,3c0,0.5,0.1,1,0.3,1.5c-0.4,0.3-1,0.4-1.5,0.4c-1.7,0-2.8-0.8-2.8-2.5c0-2.3,2.6-4.3,7-4.3c4.2,0,6.4,2,6.4,5.7
          v10.4c0,1,0.3,1.9,1.1,2.4c-0.4,0.8-1.2,1.1-2.1,1.1c-1.4,0-2.3-0.8-2.5-2C154.1,432.2,152.4,432.9,150.5,432.9z M155.2,426.2v-2.8
          c-3.1,0-6.1,0.8-6.1,3.9c0,1.9,1.1,3.2,3,3.2C154.3,430.4,155.2,428.5,155.2,426.2z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="160 394 17 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st1"
        d="M171.6,418.5v-0.6c0-0.2,0-0.6-0.1-1c-0.1-0.4-0.4-0.9-0.8-1.2c-0.5-0.3-1.1-0.5-1.8-0.5
                  s-1.4,0.2-1.9,0.6c-0.6,0.4-1,0.9-1.4,1.6c-0.7,1.3-1,3-1,5.2c0,2,0.5,3.7,1.4,5c0.9,1.3,2.1,2,3.7,2c1.4,0,2.7-0.4,4-1.2
                  c0.3-0.2,0.5-0.4,0.7-0.5c0.1,0,0.2,0.1,0.3,0.3c0.2,0.3,0.4,0.6,0.4,0.7c0,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.3,0.5-0.6,0.8
                  c-0.3,0.3-0.6,0.6-0.9,0.8c-0.4,0.3-0.8,0.5-1.2,0.8c-1,0.5-2.1,0.8-3.2,0.8s-2.1-0.2-3-0.6s-1.7-1-2.4-1.8c-1.5-1.7-2.2-4-2.2-6.9
                  c0-3.3,0.9-6,2.8-8c1.7-1.8,3.6-2.7,5.8-2.7c1.4,0,2.6,0.3,3.6,1c1,0.7,1.5,1.6,1.5,2.8c0,0.6-0.1,1.1-0.4,1.4
                  c-0.4,0.6-1,0.9-1.5,0.9C172.4,418.7,171.9,418.6,171.6,418.5z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <svg
      v-if="isDesktop"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="175 394 17 55"
    >
      <!-- eslint-disable max-len -->
      <path
        class="st1"
        d="M182.2,431.9c-0.2-0.1-0.5-0.1-0.9-0.1h-4.4c-0.9,0-1.5-0.2-1.8-0.5c-0.1-0.1-0.2-0.3-0.2-0.5
                  c0-0.5,0.1-0.8,0.2-1c0.2,0.1,0.5,0.1,0.8,0.1s0.5-0.1,0.7-0.4c0.1-0.3,0.2-0.8,0.2-1.5v-20c0-0.7-0.1-1.2-0.2-1.4
                  c-0.2-0.3-0.6-0.5-1.1-0.5c-0.2,0-0.3,0-0.5,0.1s-0.3,0-0.4,0c-0.1,0-0.2-0.1-0.2-0.2c-0.1-0.2-0.1-0.4,0-0.7
                  c0.1-0.3,0.4-0.5,0.7-0.7c0.3-0.2,0.6-0.5,0.9-0.6c0.7-0.4,1.4-0.6,1.9-0.6s0.9,0.1,1.2,0.3c0.3,0.2,0.5,0.4,0.6,0.7
                  c0.2,0.5,0.3,1.2,0.3,2.3v21.6c0,0.9,0.2,1.4,0.7,1.6c0.1,0.1,0.3,0.1,0.5,0.2c0.2,0,0.4,0.1,0.5,0.2s0.3,0.1,0.4,0.2
                  c0.1,0.1,0.2,0.4,0.2,0.7C182.5,431.4,182.4,431.7,182.2,431.9z M186.7,412.2c1.5,0,2.3,0.5,2.3,1.5c0,1.3-1.2,3.1-3.6,5.4
                  c-0.9,0.9-1.9,1.7-2.8,2.3c0.6,0.6,1.3,1.5,1.9,2.5l1.5,2.4c1.3,2,2.3,3,2.9,3c0.5,0,0.9-0.1,1.1-0.2c0.2-0.1,0.3-0.2,0.4-0.2
                  c0.1,0,0.2,0,0.3,0.1s0.2,0.2,0.2,0.4c0,0.2-0.1,0.5-0.2,0.8c-0.2,0.3-0.4,0.6-0.6,0.9c-0.7,0.7-1.4,1-2.2,1s-1.4-0.2-2-0.6
                  c-0.5-0.4-1-0.9-1.5-1.6c-0.5-0.6-0.9-1.3-1.3-2.1l-1.2-2.3c-1-1.9-1.8-3.1-2.6-3.6c-0.4-0.3-0.6-0.5-0.4-0.6l0.4-0.3l2.4-1.9
                  c1-0.8,1.7-1.5,2.1-1.9c0.7-0.9,1.1-1.7,1.1-2.3c0-0.4-0.4-0.7-1.2-0.7c-0.1-0.2-0.1-0.4-0.1-0.5s0.1-0.4,0.3-0.6
                  c0.2-0.2,0.4-0.3,0.7-0.5C185.4,412.3,186,412.2,186.7,412.2z"
      />
      <!-- eslint-enable max-len -->
    </svg>
  </div>
</template>

<script lang="ts">
import useWindowSize from '@/shared/hooks/useWindowSize';
import { computed, defineComponent } from 'vue';

export default defineComponent({
  setup() {
    const windowSize = useWindowSize();

    const isDesktop = computed(() => windowSize.width.value > 720);

    return {
      width: windowSize.width,
      isDesktop,
    };
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

div.logo {
  padding-right: 15px;

  svg {
    height: $header-height;
    max-height: $header-height;

    path {
      &.st0 {
        fill: var(--color-light-2);
      }

      &.st1 {
        fill: var(--color-primary-A300);
      }
    }
  }
}
</style>
