<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-bar-chart"
  >
    <line :class="[bars >= 1 ? 'on' : '']" x1="6" y1="20" x2="6" y2="16"></line>
    <line
      :class="[bars >= 2 ? 'on' : '']"
      x1="12"
      y1="20"
      x2="12"
      y2="10"
    ></line>
    <line
      :class="[bars === 3 ? 'on' : '']"
      x1="18"
      y1="20"
      x2="18"
      y2="4"
    ></line>
  </svg>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'bar-icon',

  props: {
    ms: {
      type: Number,
      default: 0,
    },
  },

  setup(props) {
    return {
      bars: computed(() => {
        if (props.ms >= 0 && props.ms < 100) {
          return 3;
        }
        if (props.ms >= 100 && props.ms < 200) {
          return 2;
        }
        return 1;
      }),
    };
  },
});
</script>

<style lang="scss" scoped>
svg {
  transform: scale(90%);
}

line {
  color: var(--color-dark-C);

  &.on {
    color: var(--color-primary-A100);
  }
}
</style>
