<template>
  <svg viewBox="0 0 200 200" alt="Play Video">
    <circle
      cx="100"
      cy="100"
      r="90"
      fill="none"
      stroke-width="15"
      stroke="currentColor"
    ></circle>
    <polygon points="70, 55 70, 145 145, 100" fill="currentColor"></polygon>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({ name: 'play-button-o-icon' });
</script>
