<template>
  <svg width="24" height="24" viewBox="0 0 25 25" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
    <!-- eslint-disable max-len -->
    <path
      d="M19.25 12.25V6.75C19.25 6.21957 19.0393 5.71086 18.6642 5.33579C18.2891 4.96071 17.7804 4.75 17.25 4.75H6.75C6.21957 4.75 5.71086 4.96071 5.33579 5.33579C4.96071 5.71086 4.75 6.21957 4.75 6.75V17.25C4.75 17.7804 4.96071 18.2891 5.33579 18.6642C5.71086 19.0393 6.21957 19.25 6.75 19.25H11.25M8.75 8.75H15.25M8.75 12.75H15.25" />
    <!-- eslint-enable max-len -->
    <path d="M15.8436 20.6943L15.3101 21.2279" stroke-width="1.5" />
    <path d="M20.1123 20.6943L20.6459 21.2279" stroke-width="1.5" />
    <path d="M17.978 16.7461V18.1334L18.9385 19.0938" stroke-width="1.5" />
    <!-- eslint-disable max-len -->
    <path
      d="M21.0728 18.1333C21.0728 19.8425 19.6872 21.228 17.978 21.228C16.2689 21.228 14.8833 19.8425 14.8833 18.1333C14.8833 16.4241 16.2689 15.0386 17.978 15.0386C19.6872 15.0386 21.0728 16.4241 21.0728 18.1333Z"
      stroke-width="1.2" />
    <!-- eslint-enable max-len -->
    <path d="M20.8594 15.0386L21.0728 15.252" stroke-width="1.6" />
    <path d="M15.0967 15.0386L14.8833 15.252" stroke-width="1.6" />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({ name: 'scheduled-task-icon' });
</script>

<style scoped>
svg {
  margin-top: 1px;
  transform: scale(1.15);
}
</style>
