<template>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z" />
</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'zap-icon',

  props: {
    on: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
});
</script>

<style scoped>
svg { transform: scale(0.9); }
</style>
