<template>
  <div class="item">
    <div
      class="
        left
        flex flex-column flex-justify-content-center flex-align-items-center
      "
    >
      <router-link :to="`/anime/${id}`" class="poster__link">
        <div v-lazy="poster.name" class="poster" :style="{ backgroundImage }" />
      </router-link>
      <router-link :to="`/anime/${id}`">
        <p class="title">{{ title }}</p>
      </router-link>
    </div>
    <div class="right">
      <h2 class="remaining">{{ humanRemaining }}</h2>
      <p class="description" v-html="description" />
      <div class="genres-container flex flex-wrap">
        <div
          :style="{
            color: foreground,
            backgroundColor: usedColour,
            boxShadow: `5px 1px 25px ${darkenLighten} inset`,
          }"
          class="genre"
          v-for="genre in genres"
          :key="genre.id"
        >
          {{ genre.name.toLowerCase() }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Genre, Image } from '@/shared/types/anime';
import { RootState } from '@/shared/types/state';
import tinycolor from 'tinycolor2';
import { computed, defineComponent, PropType } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'anime-card-item',

  props: {
    id: Number,
    title: String,
    description: String,
    poster: {
      required: true,
      type: Object as PropType<Image>,
    },
    colour: {
      required: false,
      type: String,
    },
    genres: {
      required: true,
      type: Object as PropType<Genre[]>,
    },
    humanRemaining: {
      required: false,
      type: String,
    },
  },

  setup(props) {
    const store = useStore<RootState>();

    const hex = computed(() => store.state.settings.hex);
    const darkMode = computed(() => store.state.settings.darkMode);

    const usedColour = computed(() => (props.colour ? props.colour : hex.value));
    const backgroundImage = computed(() => `url('${props.poster.name}')`);

    const foreground = computed(() =>
      (tinycolor(usedColour.value).isDark() && darkMode
        ? 'var(--color-light-6)'
        : 'var(--color-dark-6)'));

    const darkenLighten = computed(() =>
      (!tinycolor(usedColour.value).isDark() && darkMode
        ? tinycolor(props.colour).lighten(10)
        : tinycolor(props.colour).darken(10)));

    return {
      backgroundImage,

      usedColour,
      darkenLighten,
      foreground,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.item {
  display: grid;
  height: 300px;
  grid-template-columns: 180px 1fr;
  background: var(--color-dark-6);
  box-shadow: 20px 20px 60px #141414, -20px -20px 60px #1a1a1a;
  border-radius: 5px;
  padding: 20px;

  div.left {
    height: 300px;

    a {
      text-decoration: none;
      text-align: center;
      display: block;

      &.poster__link {
        max-width: 180px;
        display: block;
        height: 250px;
        width: 100%;
      }
    }

    div.poster {
      height: 100%;
      width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      min-height: 250px;
      min-width: 180px;
      background-color: var(--color-dark-3);
      // box-shadow: 5px 5px 10px var(--color-dark-3),
      //   -5px -5px 10px var(--color-dark-4);
      border-radius: 2px;

      div.episode {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        padding: 0 3px 0 5px;
        height: 0;
        font-size: 1.2rem;
        line-height: normal;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        display: inline-block;
        z-index: 1;
        user-select: none;
      }
    }

    div.shade {
      &::before {
        content: "";
        display: block;
        padding-top: 56%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          45deg,
          rgba(
              var(--color-dark-1-r),
              var(--color-dark-1-g),
              var(--color-dark-1-b),
              0
            )
            65%,
          rgba(
              var(--color-dark-1-r),
              var(--color-dark-1-g),
              var(--color-dark-1-b),
              0.65
            )
            100%
        );
      }
    }

    p.title {
      color: var(--color-light-5);
      max-width: 180px;
      height: 40px;
      margin: 6px 0 2px 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-weight: normal;
      font-size: 0.9rem;
    }
  }

  div.right {
    margin-left: 15px;

    h2.remaining {
      margin-top: 0;
    }

    div.genres-container {
      height: 30px;
      overflow-y: hidden;
      padding-top: 10px;
    }

    p.description {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 15px;
      max-height: 200px;
      height: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div.genre {
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 15px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
</style>
