<template>
  <div :class="['accordian', expanded && 'expanded']">
    <div class="header flex flex-justify-content-space-between">
      <div class="left flex flex-align-items-center">
        <router-link :to="`/anime/${anime.id}`" class="poster__link">
          <div class="poster" :style="{ backgroundImage }"></div>
        </router-link>

        <router-link :to="`/anime/${anime.id}`" class="title__link">
          <heading :size="2" :weight="600" :text="anime.title" />
        </router-link>
      </div>

      <div
        class="
          right
          flex flex-justify-content-space-around flex-align-items-center
        "
      >
        <div
          class="
            active
            flex flex-align-items-center flex-justify-content-center
          "
        >
          {{ anime.summary.inProgress }}
        </div>
        <chevron-down
          @click="expanded = !expanded"
          :class="expanded && 'expanded'"
        />
      </div>
    </div>
    <transition name="accordian-extend">
      <div :class="['main', !expanded && 'expanded']" v-if="expanded">
        <div class="episodes">
          <div
            class="episode flex"
            v-for="episode in anime.episodes"
            :key="episode"
          >
            <div class="identity">
              <p class="name">
                <strong>{{ episode.name }}</strong>
              </p>
              <p class="group">
                <i>{{ episode.group }}</i>
              </p>
              <p class="height">
                {{ quality(episode.height) }}
              </p>
            </div>

            <custom-progress :value="episode.progress" />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import {
  computed, defineComponent, onMounted, PropType, ref,
} from 'vue';
import { useStore } from 'vuex';
import { RootState } from '@/shared/types/state';

import Heading from '@/components/Layout/Heading.vue';
import ChevronDown from '@/components/Icons/ChevronDown.vue';
import CustomProgress from '@/components/Layout/CustomProgress.vue';
import { AnimeActivity } from '@/shared/types/activity';

export default defineComponent({
  name: 'anime-activity-accordian',

  components: {
    ChevronDown,
    Heading,
    CustomProgress,
  },

  props: {
    anime: {
      type: Object as PropType<AnimeActivity>,
      required: true,
    },
  },

  setup(props) {
    const store = useStore<RootState>();

    const details = computed(
      () => store.state.anime.activity.details.data[props.anime.id],
    );
    const backgroundImage = computed(() => (details?.value?.poster?.name ? `url('${details?.value?.poster?.name}')` : undefined));
    const expanded = ref(true);

    const quality = (height?: string) => (!height ? 'N/A' : `${height}p`);

    onMounted(() => {
      if (props.anime.summary.inProgress === 0) {
        expanded.value = false;
      }
    });

    return {
      backgroundImage,
      expanded,
      quality,
    };
  },
});
</script>

<style lang="scss">
div.accordian {
  margin-bottom: 10px;

  div.header,
  div.main {
    padding: 10px;
  }

  div.header {
    background-color: var(--color-dark-5);
    border-radius: 5px;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0, -5px -5px 2px var(--color-dark-4);

    div.left {
      a {
        text-decoration: none;

        .heading {
          color: var(--color-light-6);
          margin-top: 10px;
          margin: 0;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        div.poster {
          background-color: #191919;
          background-position: center;
          background-size: cover;
          border-radius: 2px;
          box-shadow: 2px 2px 5px var(--color-dark-4),
            -2px -2px 5px var(--color-dark-5);
          height: 3.45em;
          width: 3.45em;
          margin-right: 15px;
        }
      }
    }

    div.right {
      flex-basis: 65px;
      min-width: 65px;
      padding: 5px;

      div.active {
        background-color: var(--color-primary-A100);
        height: 28px;
        width: 28px;
        border-radius: 100%;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        margin-right: 10px;
        user-select: none;
      }

      svg {
        cursor: pointer;
        transition: ease 0.2s transform;

        &.expanded {
          transform: rotate(180deg);
        }
      }
    }
  }

  div.main {
    background-color: var(--color-dark-6);
    margin: 0 10px 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 20px 20px 60px #141414, -20px -20px 60px #1a1a1a;
    z-index: 1;
    position: relative;

    div.episodes {
      div.episode {
        padding: 5px;

        div.identity {
          display: grid;
          grid-template-columns: 35px 85px 35px;
          align-items: center;
          margin: 0 10px;
          flex-basis: 200px;
          box-sizing: border-box;
          width: 100%;

          p {
            margin: 0;

            &:not(:first-child) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
</style>
