<template>
  <div class="item flex flex-row">
    <div class="left">
      <router-link :to="`/anime/${id}`" class="poster__link">
        <div class="poster" :style="{ backgroundImage }"></div>
      </router-link>
    </div>
    <div class="right flex-1">
      <router-link :to="`/anime/${id}`" class="title__link">
        <p class="title">
          {{ title }}
          <span v-if="year && !title.includes(year)">
            ({{ year }})
          </span>
        </p>
        <p class="title alternative" v-if="titleEnglish && titleEnglish !== title">
          {{ titleEnglish }}
        </p>
        <p class="title alternative" v-if="titleNative && titleNative !== title">
          {{ titleNative }}
        </p>
        <p class="title alternative" v-if="titleRomaji && titleRomaji !== title">
          {{ titleRomaji }}
        </p>
      </router-link>
      <p class="description" v-if="description" v-html="description" />
    </div>

    <div class="actions flex flex-row" v-if="actions">
      <div class="check">
        <button class="btn icon" name="check" @click="handleCheck" :disabled="disabled">
          <check-icon />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue';
import { Image } from '@/shared/types/anime';

import CheckIcon from '@/components/Icons/CheckIcon.vue';

export interface AnimeListItemHandleCheck {
    readonly id: number;
    readonly related?: number;
  }

export default defineComponent({
  name: 'anime-list-item',

  components: { CheckIcon },

  props: {
    id: Number,
    title: String,
    titleEnglish: {
      required: false,
      type: String,
    },
    titleNative: {
      required: false,
      type: String,
    },
    titleRomaji: {
      required: false,
      type: String,
    },
    year: { required: false, type: Number },
    description: {
      required: false,
      type: String,
    },
    poster: {
      required: true,
      type: Object as PropType<Image>,
    },
    actions: {
      required: false,
      default: false,
      type: Boolean,
    },
    related: {
      required: false,
      type: Number,
    },
    disabled: {
      required: false,
      default: false,
      type: Boolean,
    },
  },

  setup(props, context) {
    const backgroundImage = computed(() => `url('${props.poster.name}')`);
    const handleCheck = () =>
      context.emit('handle-check', {
        id: props.id,
        related: props.related,
      });

    return {
      backgroundImage,
      handleCheck,
    };
  },
});
</script>

<style lang="scss" scoped>
  @import '@/assets/scss/variables.scss';

  div.item {
    padding: 0 10px 10px 10px;

    div.left {
      flex-basis: 180px;
    }

    div.right {
      padding: 0 10px;

      p.title {
        font-size: 16px;
        font-weight: 600;
        margin: 0;

        &.alternative {
          font-style: oblique;
          font-size: 14px;
          font-weight: 300;
        }
      }

      p.description {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0;
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a {
      text-decoration: none;
      min-height: 250px;

      &.poster__link {
        max-width: 180px;
        display: block;
        height: 250px;
        width: 100%;
      }

      div.poster {
        height: 100%;
        width: 100%;
        position: relative;
        background-position: center;
        min-width: 180px;
        background-size: cover;
        border-radius: 2px;
      }
    }
  }
</style>
