<template>
  <div
    class="item flex flex-column flex-justify-content-center flex-align-items-center"
  >
    <router-link :to="`/anime/${id}`" class="poster__link">
      <div
        v-lazy="poster.name"
        :class="['poster', { shade: episode && episode.name }]"
        :style="{ backgroundImage }"
      >
        <div v-if="episode && episode.name" class="episode">
          {{ episode.name }}
        </div>
      </div>
    </router-link>

    <router-link :to="`/anime/${id}`">
      <p class="title">{{ title }}</p>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Episode, Image } from '@/shared/types/anime';
import { computed, defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'anime-item',

  props: {
    id: Number,
    title: String,
    poster: {
      required: true,
      type: Object as PropType<Image>,
    },
    episode: {
      required: false,
      type: Object as PropType<Episode>,
    },
  },

  setup(props) {
    const backgroundImage = computed(() => `url('${props.poster.name}')`);

    return {
      backgroundImage,
    };
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

div.item {
  a {
    text-decoration: none;
    text-align: center;
    display: block;

    &.poster__link {
      max-width: 180px;
      display: block;
      height: 250px;
      width: 100%;
    }
  }

  div.poster {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    min-width: 180px;
    background-color: var(--color-dark-3);
    box-shadow: 5px 5px 10px var(--color-dark-3),
      -5px -5px 10px var(--color-dark-4);
    border-radius: 2px;

    div.episode {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      padding: 0 3px 0 5px;
      height: 0;
      font-size: 1.2rem;
      line-height: normal;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      display: inline-block;
      z-index: 1;
      user-select: none;
    }
  }

  div.shade {
    &::before {
      content: '';
      display: block;
      padding-top: 56%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(
            var(--color-dark-1-r),
            var(--color-dark-1-g),
            var(--color-dark-1-b),
            0
          )
          65%,
        rgba(
            var(--color-dark-1-r),
            var(--color-dark-1-g),
            var(--color-dark-1-b),
            0.65
          )
          100%
      );
    }
  }

  p.title {
    color: var(--color-light-5);
    max-width: 180px;
    height: 40px;
    margin: 6px 0 2px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 300;
    font-size: 0.9rem;
  }
}
</style>
