<template>
  <div class="item">
    <div
      class="
        left
        flex flex-column flex-justify-content-center flex-align-items-center
      "
    >
      <div class="poster__link">
        <div class="poster" />
      </div>
      <div class="title__link">
        <div class="title" />
      </div>
    </div>
    <div class="right">
      <div class="remaining" />
      <div class="description" />
      <div class="genres-container flex flex-wrap">
        <div
          class="genre"
          v-for="item in [...Array(genresLength).keys()]"
          :key="item"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

const MAX = 6;
const MIN = 1;

export default defineComponent({
  name: 'anime-card-item-placeholder',

  setup() {
    const genresLength = Math.round(Math.random() * (MAX - MIN) + MIN);

    return { genresLength };
  },
});
</script>

<style lang="scss" scoped>
$gradient: linear-gradient(
  90deg,
  rgba(var(--color-dark-9-r), var(--color-dark-9-g), var(--color-dark-9-b), 0) 0,
  rgba(
      var(--color-light-C-r),
      var(--color-light-C-g),
      var(--color-light-C-b),
      0.06
    )
    40%,
  rgba(
      var(--color-light-C-r),
      var(--color-light-C-g),
      var(--color-light-C-b),
      0.06
    )
    60%,
  rgba(var(--color-dark-9-r), var(--color-dark-9-g), var(--color-dark-9-b), 0)
);

div.item {
  display: grid;
  height: 300px;
  grid-template-columns: 180px 1fr;
  background: var(--color-dark-6);
  box-shadow: 20px 20px 60px #141414, -20px -20px 60px #1a1a1a;
  border-radius: 5px;
  padding: 20px;

  div.right {
    margin-left: 15px;
    margin-right: 15px;

    div.remaining {
      height: 100%;
      width: 75%;
      max-height: 35px;
      max-width: 250px;
      background: var(--color-dark-7);
      background-size: 300%;
      border-radius: 5px;
      overflow: hidden;
      margin-top: 1px;

      &::before {
        animation: loading-pulse 2s linear infinite;
        background: $gradient;
        content: "";
        display: block;
        height: 100%;
        transform: translateX(0);
        width: 200%;
      }
    }

    div.description {
      margin-top: 15px;
      height: 100%;
      width: 100%;
      max-height: 200px;
      max-width: 250px;
      background: var(--color-dark-7);
      background-size: 300%;
      border-radius: 5px;
      overflow: hidden;

      &::before {
        animation: loading-pulse 2s linear infinite;
        background: $gradient;
        content: "";
        display: block;
        height: 100%;
        transform: translateX(0);
        width: 200%;
      }
    }

    div.genres-container {
      height: 30px;
      overflow-y: hidden;
      padding-top: 10px;

      div.genre {
        height: 30px;
        width: 80px;
        border-radius: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: var(--color-dark-7);
        overflow: hidden;

        &::before {
          border-radius: 15px;
          margin-right: 10px;
          margin-bottom: 10px;
          height: 30px;

          animation: loading-pulse 2s linear infinite;
          background: $gradient;
          content: "";
          display: block;
          height: 100%;
          transform: translateX(0);
          width: 200%;
        }
      }
    }
  }

  div.left {
    height: 300px;

    div.poster__link {
      max-width: 180px;
      display: block;
      height: 250px;
      width: 100%;

      div.poster {
        height: 100%;
        width: 100%;
        max-height: 250px;
        max-width: 180px;
        background: var(--color-dark-7);
        background-size: 300%;
        border-radius: 5px;
        overflow: hidden;

        &::before {
          animation: loading-pulse 2s linear infinite;
          background: $gradient;
          content: "";
          display: block;
          height: 100%;
          transform: translateX(0);
          width: 200%;
        }
      }
    }

    div.title__link {
      border-radius: 5px;
      background-size: 300%;
      max-width: 180px;
      width: 100%;
      height: 35px;
      margin: 10px 0 2px 0;
      position: relative;

      div.title {
        border-radius: 5px;
        background-size: 300%;
        width: 80%;
        height: 100%;
        background: var(--color-dark-7);
        overflow: hidden;

        &::before {
          animation: loading-pulse infinite 2s linear;
          background: $gradient;
          content: "";
          display: block;
          height: 100%;
          transform: translateX(0);
        }
      }
    }
  }
}
</style>
