<template>
  <div
    class="
      item
      flex flex-column flex-justify-content-center flex-align-items-center
    "
  >
    <div class="poster__link">
      <div class="poster"></div>
    </div>
    <div class="title__box">
      <div class="title"></div>
    </div>
    <div class="duration__link" v-if="duration">
      <div class="duration"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'anime-item-placeholder',

  props: {
    duration: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
$gradient: linear-gradient(
  90deg,
  rgba(
    var(--color-dark-9-r),
    var(--color-dark-9-g),
    var(--color-dark-9-b),
    0
    )
    0,
  rgba(
      var(--color-light-C-r),
      var(--color-light-C-g),
      var(--color-light-C-b),
      0.06
    )
    40%,
  rgba(
      var(--color-light-C-r),
      var(--color-light-C-g),
      var(--color-light-C-b),
      0.06
    )
    60%,
  rgba(
    var(--color-dark-9-r),
    var(--color-dark-9-g),
    var(--color-dark-9-b),
    0
    )
);

div.item {
  div {
    text-decoration: none;
    text-align: center;
    display: block;

    &.poster__link {
      max-width: 180px;
      display: block;
      height: 250px;
      width: 100%;
    }
  }

  div.duration__link {
    border-radius: 4px;
    background-size: 300%;
    max-width: 180px;
    width: 100%;
    height: 35px;
    margin: 10px 0 2px 0;
    font-size: 1rem;
    position: relative;

    div.duration {
      border-radius: 4px;
      background-size: 300%;
      width: 80%;
      height: 100%;
      background: var(--color-dark-5);
      overflow: hidden;

      &::before {
        animation: loading-pulse infinite 2s linear;
        background: $gradient;
        content: "";
        display: block;
        height: 100%;
        transform: translateX(0);
      }
    }
  }

  div.poster {
    height: 100%;
    width: 100%;
    max-height: 250px;
    max-width: 180px;
    background: var(--color-dark-5);
    background-size: 300%;
    border-radius: 4px;
    overflow: hidden;

    &::before {
      animation: loading-pulse 2s linear infinite;
      background: $gradient;
      content: "";
      display: block;
      height: 100%;
      transform: translateX(0);
      width: 200%;
    }
  }

  div.title__box {
    border-radius: 4px;
    background-size: 300%;
    max-width: 180px;
    width: 100%;
    height: 35px;
    margin: 10px 0 2px 0;
    font-size: 1rem;
    position: relative;

    div.title {
      border-radius: 4px;
      background-size: 300%;
      width: 80%;
      height: 100%;
      background: var(--color-dark-5);
      overflow: hidden;

      &::before {
        animation: loading-pulse infinite 2s linear;
        background: $gradient;
        content: "";
        display: block;
        height: 100%;
        transform: translateX(0);
      }
    }
  }
}
</style>
