<template>
  <div class="banner__wrapper">
    <div class="actions" v-if="favourite !== null || view || edit">
      <button
        v-if="favourite !== null"
        class="btn icon"
        @click="handleFavouriteClick"
        :disabled="disabled"
        :class="['favourite', { active: !!favourite }]"
        :title="`${favourite ? 'Unf' : 'F'}avourite`"
        :aria-label="`${favourite ? 'Unf' : 'F'}avourite`"
      >
        <heart-icon />
      </button>
      <template v-if="edit">
        <router-link :to="`/anime/${id}/edit`">
          <button class="btn icon">
            <pen-icon />
          </button>
        </router-link>
      </template>
      <template v-if="view">
        <router-link :to="`/anime/${id}`">
          <button class="btn icon" title="Edit" aria-label="Edit">
            <eye-icon />
          </button>
        </router-link>
      </template>
    </div>
    <div v-if="banner && banner.name" v-lazy="banner.name" class="banner">
      <div class="shadow"></div>
    </div>
    <div :class="['spacer', { enlarge }]" v-else />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Image } from '@/shared/types/anime';

import HeartIcon from '@/components/Icons/HeartIcon.vue';
import PenIcon from '@/components/Icons/PenIcon.vue';
import EyeIcon from '@/components/Icons/EyeIcon.vue';

export default defineComponent({
  components: {
    HeartIcon,
    PenIcon,
    EyeIcon,
  },

  name: 'banner',

  props: {
    view: {
      required: false,
      default: false,
      type: Boolean,
    },
    edit: {
      required: false,
      default: false,
      type: Boolean,
    },
    favourite: {
      required: false,
      default: null,
      type: Boolean,
    },

    enlarge: {
      required: false,
      default: false,
      type: Boolean,
    },

    disabled: {
      required: true,
      type: Boolean,
    },
    banner: {
      required: false,
      type: Object as PropType<Image>,
    },
    id: {
      required: true,
      type: Number,
    },
  },

  emits: ['click-favourite'],

  setup(_, context) {
    const handleFavouriteClick = () => context.emit('click-favourite');

    return {
      handleFavouriteClick,
    };
  },
});
</script>

<style lang="scss">
@import '@/assets/scss/variables.scss';

div.banner__wrapper {
  position: relative;
  z-index: 0;

  div.actions {
    position: absolute;
    right: 15px;
    top: 15px;

    button {
      height: 35px;
      width: 35px;
      padding: 8px;
      margin-bottom: 5px;
      cursor: pointer;

      svg {
        &:hover {
          color: var(--color-primary-A300);
        }
      }

      &.favourite {
        &.active svg {
          color: var(--color-primary-A100);

          &:hover {
            color: var(--color-primary-A300);
          }
        }

        svg {
          color: var(--color-dark-7);

          &:hover {
            color: var(--color-dark-8);
          }
        }
      }

      svg {
        transition: 0.25s ease color;
      }
    }
  }

  div.banner {
    width: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    height: 320px;

    &.placeholder {
      background-image: linear-gradient(
        135deg,
        var(--color-dark-6),
        var(--color-dark-4)
      );
      background-size: 200% 100%;
      background-position: 0% 0%;

      animation: 'placeholder' 5s ease infinite;
    }

    &:not(.placeholder) {
      background-position: center top;
      background-size: cover;

      & > div.shadow {
        height: 100%;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(23, 23, 23, 0) 40%,
          rgba(23, 23, 23, 0.6)
        );
      }
    }
  }

  div.spacer {
    height: 140px;
    width: 100%;
    background-color: #141414;
    z-index: -1;

    &.enlarge {
      height: 320px;
    }
  }
}
</style>
