<template>
  <div class="episode-latest flex flex-align-items-center">
    <div class="thumbnail__wrapper">
      <div
        class="thumbnail flex flex-justify-content-center flex-align-items-center"
        v-lazy="thumbnail"
      >
        <div class="overlay" @click="handleEpisodeClick">
          <play-button-o-icon />
        </div>
      </div>
    </div>

    <div class="label__wrapper">
      <p class="name flex flex-align-items-end">{{ displayName(data) }}</p>
      <p class="label flex flex-justify-content-end flex-align-items-end">
        {{ data.episode.name }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';

import PlayButtonOIcon from '@/components/Icons/PlayButtonOIcon.vue';
import { AnimeEpisodeLatest } from '@/shared/types/episode';

export interface ClickEpisodePayload {
  animeId: number;
  episodeName: string;
}

export enum EpisodeLatestItemEmit {
  CLICK_EPISODE = 'click-episode',
}

export default defineComponent({
  name: 'episode-latest-item',

  components: { PlayButtonOIcon },

  props: {
    data: {
      required: true,
      type: Object as PropType<AnimeEpisodeLatest>,
    },
  },

  emits: [EpisodeLatestItemEmit.CLICK_EPISODE],

  setup(props, context) {
    const displayName = ({ releaseGroups, title }: AnimeEpisodeLatest) =>
      `[${releaseGroups[0].name}] ${title}`;

    const thumbnail = computed(
      () => props.data.releaseGroups[0]?.qualities[0]?.thumbnail.name || '',
    );

    const handleEpisodeClick = () => {
      if (props.data) {
        context.emit(EpisodeLatestItemEmit.CLICK_EPISODE, {
          animeId: props.data.id,
          episodeName: props.data.episode.name,
        });
      }
    };

    return {
      thumbnail,
      displayName,

      handleEpisodeClick,
    };
  },
});
</script>

<style lang="scss" scoped>
$height: 175px;
$width: 280px;

div.episode-latest {
  height: $height;
  width: $width;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  div.thumbnail__wrapper {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    &:hover {
      div.thumbnail {
        transform: scale(1.1);

        div.overlay {
          opacity: 1;
        }
      }
    }

    div.thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      margin: 0;
      transition: transform 0.25s ease-out;
      background-size: cover;
      background-position: center;

      div.overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.35s ease-out;
        box-sizing: border-box;

        svg {
          height: 55%;
          width: 55%;

          color: #ffffffcc;
          filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.3));
        }
      }
    }
  }

  div.label__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 0 0.2rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(
            var(--color-dark-1-r),
            var(--color-dark-1-g),
            var(--color-dark-1-b),
            0
          )
          0%,
        rgba(
            var(--color-dark-1-r),
            var(--color-dark-1-g),
            var(--color-dark-1-b),
            0.4
          )
          80%
      );
    }

    p.name {
      display: inline-block;
      margin: 5px;
      color: var(--color-light-6);
      font-size: 0.7rem;
      line-height: normal;
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.45);
      user-select: none;
      width: calc(100% - 40px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      z-index: 6;
      max-height: 1rem;
      margin-top: 14px;
    }

    p.label {
      color: var(--color-light-6);
      font-size: 1.2rem;
      line-height: normal;
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.45);
      user-select: none;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 6;
      margin: 5px;
      margin-right: 10px;
    }
  }
}
</style>
