<template>
  <div class="info">
    <p v-if="anime.titleEnglish">
      <strong>English: </strong>
      <span>
        {{ anime.titleEnglish }}
      </span>
    </p>
    <p v-if="anime.titleNative">
      <strong>Native: </strong>
      <span>
        {{ anime.titleNative }}
      </span>
    </p>
    <p v-if="anime.format">
      <strong>Format: </strong>
      <span>
        {{ format }}
      </span>
    </p>
    <p v-if="anime.startDate">
      <strong>Start Date: </strong>
      <span>
        {{ startDate }}
      </span>
    </p>
    <p v-if="anime.endDate">
      <strong>End Date: </strong>
      <span>
        {{ endDate }}
      </span>
    </p>
    <p v-if="anime.status">
      <strong>Status: </strong>
      <span>{{ status }}</span>
    </p>
    <p v-if="anime.season && (anime.year && anime.year > 0)">
      <strong>Released: </strong>
      <span>
        {{ released }}
      </span>
    </p>
    <p v-if="anime.score">
      <strong>Score: </strong>
      <span>{{ score }}</span>
    </p>
    <div class="links">
      <p>
        <strong>External Links: </strong>
        <br />
        <a v-if="anime.idMAL" :href="`https://myanimelist.net/anime/${anime.idMAL}`">
          <img class="external-image" src="@/assets/images/MyAnimeListIcon.jpg" alt="MyAnimeList" />
        </a>
        <a v-if="anime.id" :href="`https://anilist.co/anime/${anime.id}`">
          <img class="external-image" src="@/assets/images/AniListIcon.jpg" alt="AniList" />
        </a>
      </p>
    </div>
    <div :class="['genres', { divider }]" v-if="anime.genres && anime.genres.length">
      <ul>
        <li v-for="genre in anime.genres" :key="genre.name">
          <span>{{ genre.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import dayjs from 'dayjs';
import type { Anime } from '@/shared/types/anime';
import {
  format, status, date, release,
} from '@/shared/helpers/formatter';

export default defineComponent({
  name: 'info',

  props: {
    anime: {
      required: true,
      type: Object as PropType<Anime>,
    },
    divider: {
      required: false,
      default: false,
      type: Boolean,
    },
  },

  setup(props) {
    const score = computed(() => {
      if (props.anime.score > 10) {
        return Number((props.anime.score / 10).toFixed(2));
      }
      return props.anime.score.toFixed(2);
    });

    const startDate = computed(() =>
      (props.anime.startDate
        ? dayjs(date(props.anime.startDate)).format('MMM D, YYYY')
        : '?'));

    const endDate = computed(() =>
      (props.anime.endDate
        ? dayjs(date(props.anime.endDate)).format('MMM D, YYYY')
        : '?'));

    const released = computed(() =>
      release(props.anime?.season, props.anime?.year));

    return {
      status: computed(() => status(props.anime.status)),
      format: computed(() => format(props.anime.format)),

      score,
      startDate,
      endDate,
      released,
    };
  },
});
</script>

<style scoped lang="scss">
@import "@/assets/scss/variables.scss";

img.external-image {
  margin: 5px 5px 0 0;
  border-radius: 50%;
  height: 35px;
}

div.info {
  padding-top: 20px;

  p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;

    span {
      color: var(--color-light-6);
    }
  }

  strong {
    font-weight: 700;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      font-size: 0.75rem;
      border-radius: 2px;
      transition: background-color 0.2s ease-in;
      cursor: pointer;
      padding: 1px;
      margin-bottom: 4px;
      margin-right: 5px;

      span {
        position: relative;
        top: -2px;
        border: 1px solid var(--color-dark-6);
        display: block;
        color: var(--color-light-5);
        background-color: var(--color-dark-6);
        padding: 1px 6px;
        border-radius: 2px;
      }
    }
  }

  div.genres {
    padding-top: 1rem;

    &.divider {
      margin-top: 0.75rem;
      border-top: 1px solid var(--color-primary-A100);
    }
  }
}
</style>
