<template>
  <div class="preferences flex flex-column flex-align-items-center">
    <div class="input">
      <p>Automatic Downloads</p>
      <toggle-button
        :active="details.automaticDownloads"
        @update-active="handleAutomaticDownloadChange"
      />
    </div>

    <div class="input">
      <p>Perform Checksums</p>
      <toggle-button
        :active="details.performChecksum"
        @update-active="handlePerformChecksumChange"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Preferences } from '@/shared/types/anime';

import ToggleButton from '@/components/Layout/ToggleButton.vue';

export default defineComponent({
  components: {
    ToggleButton,
  },

  name: 'preferences',

  props: {
    details: {
      required: true,
      type: Object as PropType<Preferences>,
    },
  },

  emits: ['change-automatic-downloads', 'change-perform-checksum'],

  setup(props, context) {
    const handleAutomaticDownloadChange = (value: boolean) => {
      context.emit('change-automatic-downloads', value);
    };

    const handlePerformChecksumChange = (value: boolean) => {
      context.emit('change-perform-checksum', value);
    };

    return {
      handleAutomaticDownloadChange,
      handlePerformChecksumChange,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.preferences {
  padding-top: 20px;

  div.input {
    display: grid;
    grid-template-columns: 140px 40px;
    justify-items: center;
    align-items: center;

    p {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }
}
</style>
