<template>
  <ul class="title-filename-accordian" v-if="filenames">
    <li v-for="(filename, index) in filenames" :key="filename" class="filename__text">
      {{ index + 1 }}. {{ filename }}
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'title-filename-list',

  props: {
    filenames: {
      type: Array as () => string[],
      required: true,
    },
  },
});
</script>

<style scoped lang="scss">
ul.title-filename-accordian {
  background-color: var(--color-dark-5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // box-shadow: 0 0 0, -5px -5px 2px var(--color-dark-4);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 15px;

  li.filename__text {
    margin: 0;
  }
}
</style>
