@import "../fonts/fonts.css";
@import "./variables.scss";
@import "./keyframes.scss";

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-4);
  min-height: 100vh;
  font-size: 14px;
}

.hide {
  display: none;
}

body,
a {
  color: var(--color-light-5);
}

body,
p {
  line-height: 1.4285em;
}

header {
  max-height: $header-height;
}

main {
  margin-top: $header-height;
}

div.container {
  margin: 20px auto;
  padding: 0 2rem;
}

div.grid--items {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.w-1200 {
  max-width: 1200px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

.flex-3 {
  flex-grow: 3;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-space-around {
  justify-content: space-around;
}

.flex-justify-content-start {
  justify-content: flex-start;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-align-content-start {
  align-content: flex-start;
}

.flex-align-content-center {
  align-content: center;
}

.flex-align-content-end {
  align-content: flex-end;
}

button.btn {
  padding: 0;
  cursor: pointer;
  user-select: none;
  margin: 0 5px;
  background-color: var(--color-dark-6);
  color: var(--color-primary-A100);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 0;
  transition: 0.3s ease background-color;
  transition: 0.25s ease color;

  &.icon {
    height: $button-size;
    width: $button-size;
    border-radius: 100%;
  }

  &.fill > svg {
    fill: var(--color-primary-A100);
  }

  // hide the button if it's doesn't contain .current and contains .page
  &[disabled]:not(.current).page {
    box-shadow: none;
    opacity: 0;
    cursor: default;
  }

  &[disabled]:not(.current):not(.alert):not(.header) {
    background-color: var(--color-dark-5);
    color: var(--color-light-4);
    box-shadow: none;
  }

  &[disabled].header {
    color: var(--color-light-7);
    box-shadow: none;
  }

  &:not([disabled]):not(.current):hover {
    background-color: var(--color-dark-6);
    box-shadow: none;
  }

  &.borderless {
    box-shadow: none;
    background: none;
  }

  &.square {
    border-radius: 0;
  }

  &.header {
    $size: $header-height * 0.55;

    background-color: transparent;
    box-shadow: none;
    padding: 4px;
    height: $size;
    width: $size;

    &:not([disabled]):hover {
      color: var(--color-primary-A400);
      background-color: transparent;
      stroke-width: 3px;
    }
  }
}

div.button-group {
  display: flex;
  border-radius: 5px;

  &.outline {
    border: 1px solid var(--color-primary-A100);
  }

  &:not(.square) {
    button {
      &.btn {
        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
  
        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  button.btn {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }

  div.placeholder {
    background-color: var(--color-dark-5);
    color: var(--color-light-7);
    min-height: $button-size;
    min-width: $button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-primary-A100);

    svg {
      height: calc(0.8 * #{$button-size});
      width: calc(0.8 * #{$button-size});
    }
  }
}

svg.feather-icon {
  margin: 0;
  padding: 0;
  line-height: unset;
}

h2.subheader {
  font-size: 16px;
  font-weight: 300;
  font-style: oblique;
}

p.description {
  font-weight: 300;
  font-size: 14px;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 0.1s ease;
}

.fade-leave,
.fade-enter-to {
  opacity: 1;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}

.flip-enter-active {
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
}

.flip-leave-active {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter,
.flip-leave-to {
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}

.scale-in-enter,
.scale-in-leave-to{
   transform: scale(0.88);
   opacity: 0;
}

.scale-in-enter-active,
.scale-in-leave-active{
  transition: 0.3s;
}

.accordian-extend-enter-active,
.accordian-extend-leave-active {
  transition: opacity 0.2s ease;
}

.accordian-extend-enter-from,
.accordian-extend-leave-to {
  opacity: 0;
}