@keyframes loading-pulse {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes dash {
  65.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes placeholder {
  0% {
    background-position-x: 0%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

@keyframes nudge {
  0% {
    padding: 0;
  }
  25% {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
  }
  50% {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
  }
  50% {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
  }
  50% {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(0);
  }
  40% {
    transform: translate(-5px);
  }
  60% {
    transform: translate(-5px);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
