// Load the variables in our body.
$dark_amount: 3%;
$light_amount: 3%;

$dark-1: #000000;
$dark-2: lighten($dark-1, $dark_amount);
$dark-3: lighten($dark-2, $dark_amount);
$dark-4: lighten($dark-3, $dark_amount);
$dark-5: lighten($dark-4, $dark_amount);
$dark-6: lighten($dark-5, $dark_amount);
$dark-7: lighten($dark-6, $dark_amount);
$dark-8: lighten($dark-7, $dark_amount);
$dark-9: lighten($dark-8, $dark_amount);
$dark-A: lighten($dark-9, $dark_amount);
$dark-B: lighten($dark-A, $dark_amount);
$dark-C: lighten($dark-B, $dark_amount);

$light-1: #f2f2f2;
$light-2: darken($light-1, $light_amount);
$light-3: darken($light-2, $light_amount);
$light-4: darken($light-3, $light_amount);
$light-5: darken($light-4, $light_amount);
$light-6: darken($light-5, $light_amount);
$light-7: darken($light-6, $light_amount);
$light-8: darken($light-7, $light_amount);
$light-9: darken($light-8, $light_amount);
$light-A: darken($light-9, $light_amount);
$light-B: darken($light-A, $light_amount);
$light-C: darken($light-B, $light_amount);

@mixin define-color($color-name, $value) {
  $red: red($value);
  $green: green($value);
  $blue: blue($value);
  #{$color-name}: unquote("rgb(#{$red}, #{$blue}, #{$green})");
  #{$color-name}-rgb: $red, $blue, $green;
  #{$color-name}-r: $red;
  #{$color-name}-b: $blue;
  #{$color-name}-g: $green;
}

:root {
  [data-theme="dark"] {
    @include define-color("--color-dark-1", $dark-1);
    @include define-color("--color-dark-2", $dark-2);
    @include define-color("--color-dark-3", $dark-3);
    @include define-color("--color-dark-4", $dark-4);
    @include define-color("--color-dark-5", $dark-5);
    @include define-color("--color-dark-6", $dark-6);
    @include define-color("--color-dark-7", $dark-7);
    @include define-color("--color-dark-8", $dark-8);
    @include define-color("--color-dark-9", $dark-9);
    @include define-color("--color-dark-A", $dark-A);
    @include define-color("--color-dark-B", $dark-B);
    @include define-color("--color-dark-C", $dark-C);

    @include define-color("--color-light-1", $light-1);
    @include define-color("--color-light-2", $light-2);
    @include define-color("--color-light-3", $light-3);
    @include define-color("--color-light-4", $light-4);
    @include define-color("--color-light-5", $light-5);
    @include define-color("--color-light-6", $light-6);
    @include define-color("--color-light-7", $light-7);
    @include define-color("--color-light-8", $light-8);
    @include define-color("--color-light-9", $light-9);
    @include define-color("--color-light-A", $light-A);
    @include define-color("--color-light-B", $light-B);
    @include define-color("--color-light-C", $light-C);
  }

  [data-theme="light"] {
    @include define-color("--color-dark-1", $light-1);
    @include define-color("--color-dark-2", $light-2);
    @include define-color("--color-dark-3", $light-3);
    @include define-color("--color-dark-4", $light-4);
    @include define-color("--color-dark-5", $light-5);
    @include define-color("--color-dark-6", $light-6);
    @include define-color("--color-dark-7", $light-7);
    @include define-color("--color-dark-8", $light-8);
    @include define-color("--color-dark-9", $light-9);
    @include define-color("--color-dark-A", $light-A);
    @include define-color("--color-dark-B", $light-B);
    @include define-color("--color-dark-C", $light-C);

    @include define-color("--color-light-1", $dark-1);
    @include define-color("--color-light-2", $dark-2);
    @include define-color("--color-light-3", $dark-3);
    @include define-color("--color-light-4", $dark-4);
    @include define-color("--color-light-5", $dark-5);
    @include define-color("--color-light-6", $dark-6);
    @include define-color("--color-light-7", $dark-7);
    @include define-color("--color-light-8", $dark-8);
    @include define-color("--color-light-9", $dark-9);
    @include define-color("--color-light-A", $dark-A);
    @include define-color("--color-light-B", $dark-B);
    @include define-color("--color-light-C", $dark-C);
  }
}

$header-height: 52px;
$header-border-height: 3px;
$button-size: 24px;
