<template>
  <div class="runner">
    <div
      class="header flex flex-justify-content-space-between flex-align-items-center"
    >
      <div class="flex-1">
        <div
          class="state flex flex-justify-content-space-between flex-align-items-center"
        >
          <div class="circle">
            <transition name="scale-in" mode="out-in">
              <div
                class="pause flex flex-justify-content-center flex-align-items-center"
                v-if="data.state.toUpperCase() === 'RUN'"
              >
                <pause-icon />
              </div>
              <div
                class="play flex flex-justify-content-center flex-align-items-center"
                v-else-if="data.state.toUpperCase() === 'PAUSE'"
              >
                <play-icon />
              </div>
              <div
                class="wait flex flex-justify-content-center flex-align-items-center"
                v-else
              >
                <time-icon :border="false" />
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="flex-1 flex flex-justify-content-end flex-align-items-center">
        <bar-icon class="bar" :bars="data.ms" />
        <button
          class="btn icon borderless"
          @click="handleToggleClick"
          :disabled="data.state.toUpperCase() !== 'WAIT' && data.state.toUpperCase() !== 'PAUSE'"
        >
          <transition name="fade" mode="out-in">
            <pause-icon v-if="data.state === 1" />
            <play-icon v-else />
          </transition>
        </button>
      </div>
    </div>

    <div class="body">
      <p class="alias">{{ data.alias }}</p>
      <p class="hostname">{{ data.hostname }}</p>
      <p class="user">{{ data.user }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Runner } from '@/shared/types/runner';
import { defineComponent, PropType } from 'vue';

import BarIcon from '@/components/Icons/BarIcon.vue';
import PauseIcon from '@/components/Icons/PauseIcon.vue';
import PlayIcon from '@/components/Icons/PlayIcon.vue';
import TimeIcon from '@/components/Icons/TimeIcon.vue';

export default defineComponent({
  name: 'runner-item',

  components: {
    BarIcon,
    PauseIcon,
    PlayIcon,
    TimeIcon,
  },

  props: {
    data: { type: Object as PropType<Runner>, required: true },
  },

  emits: ['click-toggle'],

  setup(_, context) {
    const handleToggleClick = () => context.emit('click-toggle');

    return {
      handleToggleClick,
    };
  },
});
</script>

<style lang="scss" scoped>
div.runner {
  width: 150px;
  background-color: var(--color-dark-5);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0, -5px -5px 2px var(--color-dark-4);

  div.header {
    & > div:last-child > * {
      margin-left: 5px;
      transform: scale(80%);

      &:last-child {
        margin-left: 0;
      }
    }

    & > div:first-child {
      margin-left: 5px;
    }

    div.state {
      height: 24px;
      width: 24px;

      div.circle {
        border: 1px solid var(--color-light-C);
        border-radius: 100%;
        height: 12px;
        width: 12px;
        color: var(--color-light-C);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      }

      div.wait,
      div.play,
      div.pause {
        // border: 1px solid var(--color-light-C);
        // border-radius: 100%;
        height: 12px;
        width: 12px;
        color: var(--color-light-C);
        // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      }
    }

    button {
      height: 24px;
      width: 24px;
      margin: 0;
    }
  }

  div.body {
    padding: 5px;
  }

  svg.bar,
  svg.docker {
    fill: var(--color-primary-A100);
    height: 18px;
    width: 18px;
    filter: drop-shadow(0.75px 1px 2px rgba(0, 0, 0, 0.25));
  }

  p {
    margin: 0;

    &.alias {
      font-size: 10px;
      width: 100px;
    }

    &.hostname,
    &.user {
      font-family: 'Source Code Pro', sans-serif;
      font-size: 7px;
    }

    &.user {
      font-family: 'Source Code Pro', sans-serif;
      font-size: 7px;
    }
  }

  p.alias {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
</style>
