/* roboto-condensed-300 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("roboto-condensed/roboto-condensed-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("roboto-condensed/roboto-condensed-v17-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto-condensed/roboto-condensed-v17-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-300.woff") format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-300.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-condensed-300italic - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("roboto-condensed/roboto-condensed-v17-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed Light Italic"),
    local("RobotoCondensed-LightItalic"),
    url("roboto-condensed/roboto-condensed-v17-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("roboto-condensed/roboto-condensed-v17-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-300italic.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("roboto-condensed/roboto-condensed-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("roboto-condensed/roboto-condensed-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("roboto-condensed/roboto-condensed-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-regular.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-condensed-italic - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("roboto-condensed/roboto-condensed-v17-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"),
    url("roboto-condensed/roboto-condensed-v17-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("roboto-condensed/roboto-condensed-v17-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-italic.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("roboto-condensed/roboto-condensed-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("roboto-condensed/roboto-condensed-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto-condensed/roboto-condensed-v17-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-700.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-condensed-700italic - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("roboto-condensed/roboto-condensed-v17-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold Italic"),
    local("RobotoCondensed-BoldItalic"),
    url("roboto-condensed/roboto-condensed-v17-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("roboto-condensed/roboto-condensed-v17-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("roboto-condensed/roboto-condensed-v17-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("roboto-condensed/roboto-condensed-v17-latin-700italic.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-200 - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("source-sans-pro/source-sans-pro-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"),
    url("source-sans-pro/source-sans-pro-v12-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-200.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-200.woff") format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-200.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-200italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 200;
  src: url("source-sans-pro/source-sans-pro-v12-latin-200italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro ExtraLight Italic"),
    local("SourceSansPro-ExtraLightItalic"),
    url("source-sans-pro/source-sans-pro-v12-latin-200italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("source-sans-pro/source-sans-pro-v12-latin-200italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-200italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-200italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-200italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("source-sans-pro/source-sans-pro-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url("source-sans-pro/source-sans-pro-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-300.woff") format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-300.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-300italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  src: url("source-sans-pro/source-sans-pro-v12-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightItalic"),
    url("source-sans-pro/source-sans-pro-v12-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("source-sans-pro/source-sans-pro-v12-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-300italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("source-sans-pro/source-sans-pro-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("source-sans-pro/source-sans-pro-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("source-sans-pro/source-sans-pro-v12-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"),
    url("source-sans-pro/source-sans-pro-v12-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("source-sans-pro/source-sans-pro-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url("source-sans-pro/source-sans-pro-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-600.woff") format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-600.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-600italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  src: url("source-sans-pro/source-sans-pro-v12-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro SemiBold Italic"),
    local("SourceSansPro-SemiBoldItalic"),
    url("source-sans-pro/source-sans-pro-v12-latin-600italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("source-sans-pro/source-sans-pro-v12-latin-600italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-600italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-600italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-600italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("source-sans-pro/source-sans-pro-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("source-sans-pro/source-sans-pro-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-700.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: url("source-sans-pro/source-sans-pro-v12-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldItalic"),
    url("source-sans-pro/source-sans-pro-v12-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("source-sans-pro/source-sans-pro-v12-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-700italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-900 - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: url("source-sans-pro/source-sans-pro-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"),
    url("source-sans-pro/source-sans-pro-v12-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("source-sans-pro/source-sans-pro-v12-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-900.woff") format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-900.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro-900italic - latin */
@font-face {
  font-display: auto;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 900;
  src: url("source-sans-pro/source-sans-pro-v12-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Black Italic"), local("SourceSansPro-BlackItalic"),
    url("source-sans-pro/source-sans-pro-v12-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("source-sans-pro/source-sans-pro-v12-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-900italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("source-sans-pro/source-sans-pro-v12-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("source-sans-pro/source-sans-pro-v12-latin-900italic.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* lato-100 - latin */
@font-face {
  font-display: auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("lato/lato-v17-latin-100.eot"); /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"),
    url("lato/lato-v17-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lato/lato-v17-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("lato/lato-v17-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("lato/lato-v17-latin-100.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("lato/lato-v17-latin-100.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
  font-display: auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("lato/lato-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"),
    url("lato/lato-v17-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lato/lato-v17-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("lato/lato-v17-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("lato/lato-v17-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("lato/lato-v17-latin-300.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("lato/lato-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"),
    url("lato/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lato/lato-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("lato/lato-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("lato/lato-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("lato/lato-v17-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("lato/lato-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"),
    url("lato/lato-v17-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lato/lato-v17-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("lato/lato-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("lato/lato-v17-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("lato/lato-v17-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-display: auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("lato/lato-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"),
    url("lato/lato-v17-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("lato/lato-v17-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("lato/lato-v17-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("lato/lato-v17-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("lato/lato-v17-latin-900.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* roboto-100 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("roboto/roboto-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("roboto/roboto-v20-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("roboto/roboto-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("roboto/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("roboto/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("roboto/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("roboto/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("roboto/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("roboto/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("roboto/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-display: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("roboto/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("roboto/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("roboto/roboto-v20-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("roboto/roboto-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("roboto/roboto-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("roboto/roboto-v20-latin-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
