<template>
  <div class="progress__wrapper flex flex-column">
    <div class="bar flex">
      <div
        class="icon flex flex-justify-content-center flex-align-items-center"
      >
        <template
          v-if="value && (value.percentage > 0 || value.percentage !== null)"
        >
          <download-icon v-if="value.typ === 'download'" />
          <server-icon v-else-if="value.typ === 'transcode'" />
          <upload-icon v-else-if="value.typ === 'upload'" />
          <info-icon v-else-if="value.typ === 'metadata'" />
        </template>
        <sand-clock-icon v-else />
      </div>

      <div
        class="fill-info__wrapper flex flex-row fiex-justify-content-space-between"
      >
        <div class="fill__wrapper flex flex-1">
          <div
            class="fill flex flex-column flex-justify-content-center"
            :style="{ width: percentage }"
            v-if="value && (value.percentage > 0 || value.percentage !== null)"
          >
            <p>{{ percentage.substr(0, percentage.length - 1) }}</p>
          </div>
        </div>
        <div
          class="info flex flex-align-items-center flex-justify-content-space-between"
        >
          <template
            v-if="
              (currentDuration && duration) || (currentFilesize && filesize)
            "
          >
            <p class="duration" v-if="currentDuration && duration">
              {{ currentDuration }}/{{ duration }}
            </p>
            <p class="size" v-if="currentFilesize && filesize">
              {{ currentFilesize }}/{{ filesize }}
            </p>
          </template>
          <template v-else>
            <p class="size">&nbsp;</p>
          </template>
          <p class="speed" v-if="speed">
            {{ speed }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';

import ServerIcon from '@/components/Icons/ServerIcon.vue';
import DownloadIcon from '@/components/Icons/DownloadIcon.vue';
import UploadIcon from '@/components/Icons/UploadIcon.vue';
import InfoIcon from '@/components/Icons/InfoIcon.vue';
import SandClockIcon from '@/components/Icons/SandClockIcon.vue';

import { DataProgressItem } from '@/shared/types/protocol';

import {
  duration,
  filesize,
  speed,
  percentage,
} from '@/shared/helpers/formatter';

export default defineComponent({
  name: 'custom-progress',

  components: {
    DownloadIcon,
    ServerIcon,
    UploadIcon,
    InfoIcon,
    SandClockIcon,
  },

  props: {
    value: {
      required: false,
      type: Object as PropType<DataProgressItem>,
    },
  },

  setup(props) {
    return {
      currentDuration: computed(
        () => props.value?.cur_dur && duration(props.value.cur_dur),
      ),
      duration: computed(() => props.value?.dur && duration(props.value.dur)),
      currentFilesize: computed(
        () => props.value?.cur_sz && filesize(props.value.cur_sz),
      ),
      filesize: computed(() => props.value?.sz && filesize(props.value.sz)),
      speed: computed(() => props.value && speed(props.value)),
      percentage: computed(() => percentage(props.value ? props.value.pct : 0)),
    };
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

div.progress__wrapper {
  width: 100%;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
  }

  div.bar {
    width: 100%;
    height: 24px;

    @media screen and (max-width: 700px) {
      height: 48px;
    }

    div.fill-info__wrapper {
      width: 100%;

      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
    }

    div.icon {
      flex-basis: 24px;
      background: var(--color-dark-3);

      @media screen and (max-width: 700px) {
        flex-basis: 48px;
      }

      svg {
        height: 75%;
        width: 75%;
      }
    }

    div.fill__wrapper {
      background-color: var(--color-dark-7);
      height: 24px;
      min-height: 24px;

      div.fill {
        height: 24px;
        min-width: max-content;
        background: linear-gradient(
          270deg,
          var(--color-primary-A000),
          var(--color-primary-A500)
        );
        background-size: 300% 300%;
        transition: width 0.5s;

        p {
          margin: 0 10px;
          text-align: right;
          font-family: 'Roboto', sans-serif;
          font-weight: 900;
          font-size: 14px;
          color: var(--color-light-2);
        }
      }
    }
  }

  div.info {
    flex-basis: 200px;
    background: var(--color-dark-5);
    padding-left: 10px;

    p {
      margin: 0;

      &.size,
      &.duration {
        text-align: left;
        // margin-left: 10px;
      }

      &.speed {
        text-align: right;
        margin-right: 10px;
      }

      text-align: right;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 11px;
      color: var(--color-light-2);
    }
  }
}
</style>
