<template>
  <div class="filter">
    <div class="filter-select">
      <div class="name">{{ name }}</div>
      <div class="select-wrap">
        <div :class="['select', expand && 'focus']" @click="toggle">
          <div class="value-wrap flex flex-align-items-center">
            <div class="placeholder" v-if="names && names.length === 0">
              <span>Any</span>
            </div>
            <div class="tags flex" v-else>
              <div class="tag flex flex-align-items-center" v-if="size > 0">
                <span>
                  {{ names[0] }}
                </span>
              </div>
              <div
                class="
                  tag
                  others
                  flex flex-justify-content-center flex-align-items-center
                "
                v-if="size > 1"
              >
                <span
                  class="
                    flex flex-justify-content-center flex-align-items-center
                  "
                >
                  +{{ size - 1 }}
                </span>
              </div>
            </div>
          </div>
          <chevron-down v-if="size === 0" @click="toggle" />
          <close-icon v-else @click="clear"></close-icon>
        </div>
        <div class="options" v-if="expand">
          <div class="option-groups">
            <div class="option-group">
              <div
                class="option"
                v-for="item in data"
                :key="item.id"
                @click="handleClick(item)"
              >
                <span>{{ item.name }}</span>
                <div :class="[isSelected(item) && 'selected']">
                  <check-icon v-if="isSelected(item)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, PropType, computed, ref,
} from 'vue';

import CloseIcon from '@/components/Icons/CloseIcon.vue';
import ChevronDown from '@/components/Icons/ChevronDown.vue';
import CheckIcon from '@/components/Icons/CheckIcon.vue';

export enum SelectEmit {
  CHANGE_ITEM = 'change-item',
  UPDATE_EXPAND = 'update:expand',
}

export interface SelectItem {
  id: number;
  name: string;
}

export default defineComponent({
  name: 'ap-select',

  components: { ChevronDown, CheckIcon, CloseIcon },

  emits: [SelectEmit.CHANGE_ITEM, SelectEmit.UPDATE_EXPAND],

  props: {
    name: {
      required: true,
      type: String,
    },

    data: {
      required: true,
      type: Array as PropType<SelectItem[]>,
    },

    expand: {
      required: true,
      type: Boolean,
    },
  },

  setup(props, context) {
    const map = ref(new Map<number, string>());
    const names = computed(() => Array.from(map.value.values()));
    const size = computed(() => map.value.size);

    const isSelected = (item: SelectItem) => map.value.has(item.id);

    const handleClick = (item: SelectItem) => {
      const { value } = map;
      if (!value.has(item.id)) {
        value.set(item.id, item.name);
      } else {
        value.delete(item.id);
      }

      context.emit(SelectEmit.CHANGE_ITEM, Array.from(map.value.keys()));
    };

    const toggle = () => {
      context.emit(SelectEmit.UPDATE_EXPAND, !props.expand);
    };

    const clear = () => {
      map.value.clear();
      context.emit(SelectEmit.CHANGE_ITEM, []);
    };

    return {
      size,
      names,

      clear,
      toggle,
      isSelected,
      handleClick,
    };
  },
});
</script>

<style lang="scss" scoped>
div.filter {
  &::after,
  &::before {
    box-sizing: border-box;
  }

  div.name {
    // position: relative;
    color: var(--color-light-5);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
  }

  div.select-wrap {
    position: relative;
    width: 100%;

    div.select {
      // position: relative;
      align-items: center;
      background: var(--color-dark-6);
      border-radius: 6px;
      box-shadow: 0 14px 30px
          rgba(
            var(--color-dark-3-r),
            var(--color-dark-3-g),
            var(--color-dark-3-b),
            0.1
          ),
        0 4px 4px
          rgba(
            var(--color-dark-3-r),
            var(--color-dark-3-g),
            var(--color-dark-3-b),
            0.04
          );
      cursor: pointer;
      display: grid;
      font-size: 1rem;
      font-weight: 600;
      grid-template-columns: auto 18px;
      height: 42px;
      padding: 0 5px;

      &.focus {
        outline: 2px solid var(--color-dark-A);
      }

      svg {
        height: 18px;
        width: 18px;
      }

      div.value-wrap {
        width: 100%;

        div.placeholder {
          color: var(--color-dark-C);
          user-select: none;
        }

        div.tags {
          user-select: none;

          div.tag {
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 18px;
            color: var(--color-light-6);
            background-color: var(--color-primary-900);
            border-radius: 6px;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 5px 8px;
            margin-right: 5px;

            &.others {
              padding: 0 2px;
              min-width: 24px;
              text-align: center;
              max-height: 100%;
            }

            span {
              text-overflow: ellipsis;
              overflow: hidden;
              height: 100%;
            }
          }
        }
      }
    }

    div.options {
      background: var(--color-dark-6);
      border-radius: 6px;
      box-shadow: 0 14px 30px
          rgba(
            var(--color-dark-3-r),
            var(--color-dark-3-g),
            var(--color-dark-3-b),
            0.15
          ),
        0 4px 4px
          rgba(
            var(--color-dark-3-r),
            var(--color-dark-3-g),
            var(--color-dark-3-b),
            0.05
          );
      left: 0;
      position: absolute;
      top: calc(100% + 10px);
      width: 100%;
      max-height: 500px;
      overflow: auto;
      z-index: 50;

      div.option-groups {
        width: 100%;

        div.option-group {
          div.option {
            border-radius: 4px;
            color: var(--color-light-6);
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            padding: 8px;
            transition: background 0.1s ease-in-out, color 0.2s ease-in-out;
            white-space: normal;
            user-select: none;
            display: grid;
            grid-template-columns: auto 18px;
            align-items: center;

            span {
              text-overflow: ellipsis;
              width: 100%;
              overflow: hidden;
            }

            div.selected {
              background: var(--color-primary-900);
              border-radius: 50px;
              height: 18px;
              width: 18px;

              svg {
                height: 18px;
                width: 18px;
                color: var(--color-light-6);
              }
            }

            &:hover {
              background-color: var(--color-dark-8);
            }
          }
        }
      }
    }
  }
}
</style>
