<template v-if="text">
  <h1
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-if="size === 1"
  >
    {{ text }}
    <slot />
  </h1>
  <h2
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-else-if="size === 2"
  >
    {{ text }}
    <slot />
  </h2>
  <h3
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-else-if="size === 3"
  >
    {{ text }}
    <slot />
  </h3>
  <h4
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-else-if="size === 4"
  >
    {{ text }}
    <slot />
  </h4>
  <h5
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-else-if="size === 5"
  >
    {{ text }}
    <slot />
  </h5>
  <h6
    :class="baseClass"
    :style="{ fontWeight: weight, fontStyle: style }"
    v-else-if="size === 6"
  >
    {{ text }}
    <slot />
  </h6>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'heading',

  props: {
    text: {
      required: true,
      type: String,
    },

    size: {
      required: false,
      default: 1,
      type: Number,
    },

    weight: {
      required: false,
      default: 300,
      type: Number,
      max: 900,
      min: 100,
    },

    style: {
      required: false,
      default: 'normal',
      type: String,
    },

    uppercase: {
      required: false,
      default: false,
      type: Boolean,
    },
  },

  setup(props) {
    return {
      baseClass: computed(() => ['heading', props.uppercase && 'upper']),
    };
  },
});
</script>

<style lang="scss" scoped>
h1.heading,
h2.heading,
h3.heading,
h4.heading,
h5.heading,
h6.heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  position: relative;

  &.upper {
    text-transform: uppercase;
  }
}

h1.heading {
  padding-bottom: 10px;
  padding-top: 0;
  padding-left: 10px;
  font-size: 24px;
}

h2.heading {
  font-size: 20px;
}

h3.heading {
  padding: 0;
}
</style>
