<template>
  <div
    class="pagination-container flex flex-row flex-justify-content-center flex-align-items-center"
    v-if="current && total"
  >
    <button
      class="btn icon page"
      name="start"
      @click="start"
      aria-label="first Page"
      :disabled="current === 1"
    >
      <chevron-double-left-icon />
    </button>
    <button
      class="btn icon page"
      name="previous"
      @click="prev"
      aria-label="Previous Page"
      :disabled="current === 1"
    >
      <chevron-left-icon />
    </button>
    <button name="current" class="btn icon current" disabled>
      {{ current }}
   </button>
    <button
      class="btn icon page"
      name="next"
      @click="next"
      aria-label="Next Page"
      :disabled="current === total"
    >
      <chevron-right-icon />
    </button>
    <button
      class="btn icon page"
      name="end"
      @click="end"
      aria-label="End Page"
      :disabled="current === total"
    >
      <chevron-double-right-icon />
    </button>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import ChevronLeftIcon from '@/components/Icons/ChevronLeftIcon.vue';
import ChevronRightIcon from '@/components/Icons/ChevronRightIcon.vue';
import ChevronDoubleLeftIcon from '@/components/Icons/ChevronDoubleLeftIcon.vue';
import ChevronDoubleRightIcon from '@/components/Icons/ChevronDoubleRightIcon.vue';

export default defineComponent({
  name: 'pagination',

  props: {
    total: {
      required: true,
      type: Number,
    },
    current: {
      required: true,
      type: Number,
    },
  },

  emits: ['change-page'],

  setup(props, context) {
    const route = useRoute();
    const router = useRouter();

    const page = computed(() => Number(route.query?.page));

    const goto = (to: number, replace = true, emit = true) => {
      if (Number.isNaN(to)) {
        return;
      }

      if (replace) {
        router.replace({
          query: {
            ...route.query,
            page: to.toString(),
          },
        });
      }

      if (emit) {
        context.emit('change-page', to);
      }
    };

    const start = () => goto(1);

    const prev = () => {
      if (props.current - 1 > 0) {
        goto(props.current - 1);
      }
    };

    const next = () => {
      if (props.current + 1 <= props.total) {
        goto(props.current + 1);
      }
    };

    const end = () => goto(props.total);

    router.afterEach((to, from) => {
      if (to.path === from.path) {
        if (Number(to.query?.page) === 0 && Number(from.query?.page) > 0) {
          goto(1);
        } else if (
          Number(to.query?.page) !== props.current
          && Number(from.query?.page) === props.current
        ) {
          goto(Number(to.query.page), false);
        }
      }
    });

    onMounted(() => {
      if (Number.isNaN(page.value)) {
        goto(props.current, true, false);
      } else if (props.current === 0) {
        goto(1);
      } else if (props.current && props.current !== page.value) {
        goto(page.value);
      }
    });

    return {
      page,

      start,
      prev,
      next,
      end,
    };
  },

  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
    ChevronDoubleLeftIcon,
    ChevronDoubleRightIcon,
  },
});
</script>

<style lang="scss" scoped>
div.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  button {
    svg {
      height: 18px;
      width: 18px;
    }

    &.current {
      cursor: unset;
      font-family: 'Roboto Condensed', sans-serif;
      height: 32px;
      width: 32px;
      font-size: 14px;
    }
  }
}
</style>
