<template>
  <div :class="['holder', { active }]">
    <div class="toggle" @click="toggle"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'toggle-button',

  props: {
    active: {
      required: true,
      type: Boolean,
    },
  },

  emits: ['update-active'],

  setup(props, context) {
    const toggle = () => {
      context.emit('update-active', !props.active);
    };

    return {
      toggle,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

@keyframes on {
  0% {
    height: 6px;
    left: -2px;
    top: -2px;
    border-radius: 50px;
    background: var(--color-light-6);
  }
  15% {
    height: 20px;
    left: 8px;
    top: 0px;
    border-radius: 100px;
  }
  100% {
    height: 24px;
    left: 18px;
    top: -2px;
    border-radius: 60px;
    background: var(--color-primary-A100);
  }
}

@keyframes off {
  0% {
    height: 24px;
    left: 18px;
    top: -2px;
    border-radius: 60px;
    background: var(--color-primary-A100);
  }
  15% {
    height: 20px;
    left: 8px;
    top: 0px;
    border-radius: 100px;
  }
  100% {
    height: 24px;
    left: -2px;
    top: -2px;
    border-radius: 60px;
    background: var(--color-light-6);
  }
}

div.holder {
  position: relative;
  height: 20px;
  width: 40px;
  margin: 10px;
  border-radius: 50px;
  background: var(--color-light-3);
  transition: 0.15s background ease-out;

  &.active {
    background-color: var(--color-primary-A000);

    & > div.toggle {
      animation: on 0.15s ease-out;
      left: 18px;
      background: var(--color-primary-A100);
    }
  }

  div.toggle {
    cursor: pointer;
    position: absolute;
    top: -2px;
    width: 24px;
    height: 24px;
    border-radius: 60px;
    background: #ecf0f1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
    animation: off 0.15s ease-out;
    left: -2px;
  }
}
</style>
