<template>
  <div
    :class="['app-wrap', 'flex', 'flex-column', quickSearch && 'scroll-lock']"
  >
    <Header />
    <main>
      <router-view v-slot="{ Component }">
        <transition name="fade">
          <component :is="Component" />
        </transition>
      </router-view>
    </main>
  </div>
</template>

<style lang="scss"></style>

<script lang="ts">
import {
  computed,
  defineComponent,
  onBeforeMount,
  onBeforeUnmount,
  onMounted,
  watch,
} from 'vue';
import { useStore } from 'vuex';
import { RouteName } from '@/router';
import Header from '@/components/Header/Header.vue';
import { RootState } from './shared/types/state';
import useWindowSize from './shared/hooks/useWindowSize';

export default defineComponent({
  components: { Header },

  setup() {
    const store = useStore<RootState>();

    const titles = computed(() => store.state.title.details.data);
    const quickSearch = computed(() => store.state.settings.quickSearch);
    const route = computed(() => store.state.route.name);

    const toggleQuickSearch = () => store.dispatch('toggleQuickSearch');

    // When quick search is open, the user is able to close it by pressing Escape.
    // When quick search is closed.. it can be opened by pressing Control+Space together.
    const handleKeyup = (ev: KeyboardEvent) => {
      if (
        route.value !== RouteName.ADVANCED_SEARCH
        && ((quickSearch.value && ev.code === 'Escape')
          || (!quickSearch.value && ev.code === 'Space' && ev.ctrlKey === true))
      ) {
        toggleQuickSearch();
      }
    };

    const windowSize = useWindowSize();

    watch(
      () => windowSize,
      (size) => {
        store.dispatch('updateDimension', {
          width: size.width.value,
          height: size.width.value,
        });
      },
      { deep: true, immediate: true },
    );

    onBeforeUnmount(() => {
      window.removeEventListener('keyup', handleKeyup);
    });

    onMounted(() => {
      window.addEventListener('keyup', handleKeyup);
    });

    onBeforeMount(async () => {
      const promises = [
        store.dispatch('applyTheme'),

        store.dispatch('getFormats'),
        store.dispatch('getGenres'),
        store.dispatch('getStudios'),
        store.dispatch('getStatuses'),
        store.dispatch('getSeasons'),
        store.dispatch('getRunners'),
        store.dispatch('getSeasonYears'),

        store.dispatch('getJob'),
      ];

      if (!titles.value) {
        promises.push(store.dispatch('getTitles', 1));
      }

      await Promise.allSettled(promises);
    });

    return {
      quickSearch,
      handleKeyup,
    };
  },
});
</script>

<style>
div.app-wrap.scroll-lock {
  max-height: 100vh;
  overflow: hidden;
}
</style>
