<template>
  <div class="search-container">
    <div class="overlay" @click="handleClose"></div>
    <div class="quick-search flex flex-justify-content-center">
      <div class="input">
        <search-icon
          class="
            search
            flex flex-justify-content-center flex-align-items-center
          "
          @click="handleSearch"
        />
        <input
          ref="field"
          type="text"
          placeholder="Search..."
          v-model="phrase"
        />
        <close-icon
          title="Close"
          aria-label="Close"
          class="close flex flex-justify-content-center flex-align-items-center"
          @click="handleClose"
        />
      </div>
    </div>

    <div class="results__wrapper flex flex-justify-content-center">
      <div
        class="
          results
          flex flex-justify-content-center flex-align-items-center flex-column
        "
        v-if="
          !search.loading &&
          search.error === null &&
          search.data !== null &&
          search.data.data.length > 0
        "
      >
        <div class="result" v-for="item in anime" :key="item.id">
          <search-result @click-navigate="handleClose" :anime="item" />
        </div>
        <div class="more" v-if="others && others > 0">
          <router-link
            :to="`/anime/search?title=${encodeURIComponent(phrase)}`"
            class="flex"
            @click="handleClose"
          >
            <p>View all {{ others }}+ results</p>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  watch,
  ref,
  computed,
  defineComponent,
  onMounted,
  ComputedRef,
  Ref,
} from 'vue';
import { useStore } from 'vuex';

import SearchIcon from '@/components/Icons/SearchIcon.vue';
import CloseIcon from '@/components/Icons/CloseIcon.vue';
import SearchResult from '@/components/Header/Search/SearchResult.vue';

import { SEARCH_TIMESPAN } from '@/shared/helpers/timespan';
import { Nullable } from '@/shared/types/generic';
import { Anime } from '@/shared/types/anime';
import { RootState } from '@/shared/types/state';
import useWindowSize from '@/shared/hooks/useWindowSize';

export enum QuickSearchEmit {
  CLICK_CLOSE = 'click-close',
}

export default defineComponent({
  name: 'quick-search',

  components: {
    SearchIcon,
    CloseIcon,
    SearchResult,
  },

  emits: [QuickSearchEmit.CLICK_CLOSE],

  setup(_, context) {
    const store = useStore<RootState>();
    const search = computed(() => store.state.anime.search);

    const setSearchPhrase = (phrase: string) =>
      store.dispatch('setSearchPhrase', phrase);
    const searchAnime = () => store.dispatch('quickSearchAnime');

    const timeout: Ref<Nullable<number>> = ref(null);
    const field: Ref<Nullable<HTMLInputElement>> = ref(null);

    const phrase = computed({
      get: () => store.state.anime.search.query?.title || '',
      set: (value: string) => setSearchPhrase(value),
    });

    const maxResults = ref(7);
    const windowSize = useWindowSize();

    watch(
      () => windowSize.height,
      () => {
        maxResults.value = windowSize.height.value / 2 / 80;
      },
      { immediate: true },
    );

    watch(
      () => phrase.value,
      () => {
        if (timeout.value) {
          window.clearTimeout(timeout.value);
        }

        // Overwrite the timeout.
        timeout.value = window.setTimeout(() => {
          searchAnime().finally(() => {
            if (timeout.value) {
              window.clearTimeout(timeout.value);
            }
          });
        }, SEARCH_TIMESPAN);
      },
    );

    const anime: ComputedRef<Anime[]> = computed(() => {
      const { loading, error, data } = store.state.anime.search;

      if (!loading && error !== null) {
        return [];
      }

      return (
        ((data?.data?.length ?? 0) >= maxResults.value
          ? data?.data?.slice(0, maxResults.value)
          : data?.data) || []
      );
    });

    const others = computed(() => {
      const { loading, error, data } = store.state.anime.search;

      if ((!loading && error !== null) || !data?.page) {
        return 0;
      }

      if (data.page) {
        const { current, elements, total } = data.page;
        const length = data?.data?.length || 0;

        if (current === 1 && length < elements) {
          return 0;
        }

        return total * elements - length - anime.value.length;
      }

      return 0;
    });

    const handleSearch = () => searchAnime();

    const handleClose = () => {
      setSearchPhrase('');
      context.emit(QuickSearchEmit.CLICK_CLOSE);
    };

    onMounted(() => {
      if (field.value) field.value.focus();
    });

    return {
      field,
      search,
      phrase,
      anime,
      others,

      handleSearch,
      handleClose,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

div.search-container {
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity 0.4s ease;
  width: 100vw;
  z-index: 3000;

  div.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(var(--color-dark-3-rgb), 0.6);
  }

  div.quick-search {
    div.input {
      z-index: 1;
      align-items: center;
      background: var(--color-dark-7);
      border-radius: 6px;
      display: grid;
      grid-template-columns: 35px minmax(230px, 1fr) 35px;
      justify-items: center;
      justify-content: center;
      position: absolute;
      transition: 0.25s ease;
      z-index: 1;
      top: $header-height + 25px;
      box-shadow: 0 1px 2px 0
        rgba(
          var(--color-dark-1-r),
          var(--color-dark-1-g),
          var(--color-dark-1-b),
          0.25
        );
      color: var(--color-light-5);

      ::placeholder {
        color: var(--color-light-C);
      }

      svg {
        cursor: pointer;
        color: var(--color-light-5);
        height: 14px;
        width: 14px;
      }

      input {
        background: 0 0;
        border: none;
        color: var(--color-light-5);
        font-family: "Lato", sans-serif;
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: -0.01em;
        outline: 0;
        padding: 8px 0;
        position: relative;
        text-transform: capitalize;
        width: 100%;
        z-index: 2;
      }
    }
  }

  div.results {
    border-radius: 8px;
    position: absolute;
    top: 140px;
    background-color: var(--color-dark-7);
    box-shadow: 0 1px 2px 0
      rgba(
        var(--color-dark-1-r),
        var(--color-dark-1-g),
        var(--color-dark-1-b),
        0.25
      );
    margin-bottom: 50px;

    div.result {
      min-width: 300px;
      max-width: 375px;
      width: 100%;
      cursor: pointer;
      color: rgb(var(--color-light-5-rgb));
      font-family: "Roboto", sans-serif;
      border-radius: 8px;
    }

    div.more {
      font-family: "Roboto", sans-serif;
      width: 100%;
      cursor: pointer;

      a {
        text-align: center;
        text-decoration: none;
      }

      p {
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: center;
      }

      &:hover {
        border-radius: 8px;
        background-color: var(--color-primary-A100);
      }
    }
  }
}
</style>
