<template>
  <div class="item flex">
    <router-link
      :to="`/anime/${anime.id}`"
      @click="handleNavigate"
      class="flex"
    >
      <div class="poster" :style="{ backgroundImage: `url('${anime.poster.name}')` }" />
      <div class="summary">
        <p class="title">{{ anime.title }}</p>
        <div class="details flex flex-align-items-center">
          <p class="released">{{ released }}</p>
          <p class="format">&nbsp;-&nbsp;{{ format }}</p>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Anime } from '@/shared/types/anime';
import { computed, defineComponent, PropType } from 'vue';
import { format, release } from '@/shared/helpers/formatter';

export enum SearchResultEmit {
  CLICK_NAVIGATE = 'click-navigate'
}

export default defineComponent({
  name: 'search-result',

  props: {
    anime: {
      required: true,
      type: Object as PropType<Anime>,
    },
  },

  emits: [SearchResultEmit.CLICK_NAVIGATE],

  setup(props, context) {
    const released = computed(
      () => release(props.anime?.season, props.anime?.year),
    );

    const handleNavigate = () => context.emit(SearchResultEmit.CLICK_NAVIGATE);

    return {
      format: computed(() => format(props.anime.format)),
      released,
      handleNavigate,
    };
  },
});
</script>

<style lang="scss" scoped>
div.item {
  padding: 10px;
  border-radius: 8px;
  transition: background-color ease-in 0.08s;

  &:hover {
    border-radius: 8px;
    background-color: var(--color-primary-A100);
  }

  p {
        color: var(--color-light-5);
  }

  a {
    text-decoration: none;
  }

  div.poster {
    $size: 52px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    height: $size;
    width: $size;
    min-height: $size;
    min-width: $size;
    border-radius: 8px;
  }

  div.summary {
    margin-left: 10px;

    p {
      margin: 0;
      font-weight: 400;
      font-family: "Roboto", sans-serif;

      &.title {
        font-size: 12px;
        font-family: "Lato", sans-serif;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-weight: 600;
        line-height: 1.1em;
      }
    }

    div.details {
      p {
        &.format {
          font-size: 11px;
        }

        &.released {
          font-size: 11px;
        }
      }
    }
  }
}
</style>
