<template>
  <div class="search flex flex-justify-content-center flex-align-items-center">
    <transition name="fade">
      <quick-search @click-close="toggle" v-if="extend" />
    </transition>
    <button
      class="btn header icon"
      @click="toggle"
      aria-label="Search"
      title="Search"
    >
      <transition name="flip" mode="out-in">
        <search-icon v-if="!extend" />
      </transition>
    </button>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

import SearchIcon from '@/components/Icons/SearchIcon.vue';
import QuickSearch from '@/components/Header/Search/QuickSearch.vue';
import { useStore } from 'vuex';
import { RootState } from '@/shared/types/state';

export default defineComponent({
  name: 'search-wrapper',

  components: {
    SearchIcon,
    QuickSearch,
  },

  setup() {
    const store = useStore<RootState>();
    const extend = computed(() => store.state.settings.quickSearch);
    const toggle = () => store.dispatch('toggleQuickSearch');

    return {
      toggle,
      extend,
    };
  },
});
</script>
