<template>
  <div class="loader">
    <div
      :class="['signal', { centered }]"
      :style="{
        height: `${height}px`,
        width: `${width}px`,
      }"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'loader',

  props: {
    centered: {
      type: Boolean,
      required: false,
    },
    height: {
      type: Number,
      default: 30,
      required: false,
    },
    width: {
      type: Number,
      default: 30,
      required: false,
    },
  },
});
</script>

<style lang="scss">
div.loader {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  div.signal {
    border: 5px solid var(--color-primary-100);
    border-radius: 30px;
    opacity: 0;
    animation: pulsate 1s ease-out infinite;

    &.centered {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}
</style>
